[2017-01-13 20:20] joshghent opened #1 "Improve the README"
OK so the readme contains basic setup but we need to point people to the contributing guide and filing bug reports.

Like the readme on [Freecodecamp](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/README.md)

[2017-01-13 20:54] joshghent opened #2 ""Star" fiddles"
So the idea here is that other people will be able to "Star" your fiddles. The most starred fiddles will then be displayed on a page like a hall of fame type thing but this will be added in the future.

The first job is to add a route for '/star/:fiddleID' which will save a star against that fiddle.
The second task for this PR is to add a Star button on the fiddle page (only when it is saved!) tha

[2017-01-13 21:01] joshghent opened #3 "Dark theme"
Simples really. Add a dark theme.

Make it a option that is saved in localstorage like the theme or vertical/horizontal height settings.

The esfiddle maroon color can either change to something that contrasts well with the black or keep it the same. Experiment! 👩‍🔬

[2017-01-13 22:54] joshghent opened #4 "Add image optimisation task to grunt"
Google page speed insights says that we can reduce all the images (which is 4 currently) by ~70%. In the future we may add more images so it would be a good idea to add an image optimisation task to grunt for when we build for production (we don't need to do this for dev).

Ideally the optimised images would just overwrite the unoptimised ones.

[2017-01-13 23:28] joshghent opened #5 "Output browser errors to the console on the page"
If you write some code in ESfiddle that has a JS error in it, the error will not be printed to the on screen console. This is functionality we definitely want to have.

Ideally this should also have tests against it but these can be added later.

Check this case here https://esfiddle.net/ixwfnfo5/

[2017-01-14 08:46] joshghent opened #6 "Add browser-sync + watch task for grunt"
When developing ESFiddle we want to be able to change one of the files that gets compiled (like the stylus styles and JS) and see that immediately.
Let's add some browser-sync magic and have it watch the CSS and JS files and automatically rebuild them if they change.

[2017-01-14 11:06] dr4ke90 commented on #5
Hi :-)

First timer here. Is there an official process on how to request a bug? Would like to try my hand at this one.

[2017-01-14 12:00] joshghent commented on #5
@OmisNomis Hi there! Great to have you here.

If you want to report a bug then [create a new issue.](https://github.com/esfiddle/esfiddle/issues/new)

If you want to fix a bug and help out with the project, then fork the project, make your changes then submit a pull request for the project. Let me know if you need any more help with this 😁 [Here is a pretty good guide](https://akrabat.com/the-begi

[2017-01-14 12:07] OmisNomis commented on #5
Thanks @joshghent - it was the latter; I'm hoping to try my hand at helping.

I'll take a look and hopefully submit a pull request soon. Thanks again!

[2017-01-14 12:28] joshghent commented on #5
@OmisNomis Brilliant, I look forward to it!
Thanks for your help!

[2017-01-14 13:17] joshghent opened #7 "Automatically redirect http traffic to https"
For some reason the cloudflare setting for this does work so the solution is to have some JS that checks if we are on http and if so redirect to https.

If anyone has any other solutions then feel free to do it that way.

PR's welcome!

[2017-01-14 13:26] joshghent opened #8 "Add tests"
So it's time we added tests for the API so we can be confident that all new features we add and bugs we fix still leave the site functional.

The testing framework does not matter. I think we will use a mix of mocha, chai and perhaps selenium if needed.

I suggest tests for the following:
- [ ] Save a fiddle
- [ ] Load a fiddle
- [ ] Horizontal and Vertical buttons work
- [ ] Code lints correctly

[2017-01-14 23:16] joshghent opened #10 "Update the UI so the vertical layout so it fills the page"
The vertical layout (the default one) currently has a lot of wasted space around the sites.

It would be good to update the UI so that it fills more of the space similar to [JSBin](http://jsbin.com/).

The code and console containers can be extended to fill the page and scale to the users screen size.

[2017-01-14 23:44] joshghent opened #12 "Configure OpBeat APM"
So I've added Opbeat APM to add some performance monitoring for us. I believe this allows me to be notified when the app is down so I can kick it back to life.

However it needs configuring. Simply follow the guide here
https://devcenter.heroku.com/articles/opbeat#using-with-node-js

[2017-01-14 23:55] joshghent commented on #4
Completed in https://github.com/esfiddle/esfiddle/pull/11

[2017-01-14 23:55] #4 closed

[2017-01-15 00:22] joshghent opened #13 "Add ES7 Examples"
We currently have a list of ES6 example code featuring the new functionality of ES6.

Now that ES7's spec is out then we need to add an example for each feature that has been released.

You can find the new ES7 features below:
http://www.2ality.com/2016/02/exponentiation-operator.html
http://www.2ality.com/2016/02/array-prototype-includes.html

The examples dropdown will need an "ES7 Examples" lab

[2017-01-15 19:03] ageddesi commented on #13
Is this still up for grabs?

[2017-01-15 20:14] kaustubhmallik commented on #12
Hey josh, I checked the Heroku link you and the official documentation for [OpBeat APM](https://github.com/opbeat/opbeat-node#user-content-quick-start)]. I think creation of OpBeat agent need to be configured with your app-id, org-id and secret token, in order for you to see you app stats.

So, I think you should [register your app](https://opbeat.com/nodejs)] and store the required fields in a co

[2017-01-15 22:44] joshghent commented on #13
@ageddesi Sure is! We'd happily welcome PR's 👍

[2017-01-15 22:51] joshghent commented on #12
@kaustubhmallik Great work, thanks a lot. I'll take a look into this tomorrow 👍

[2017-01-15 23:09] joshghent opened #17 "Add eslint to grunt test task"
We have an eslint config but it is currently not tested against when we run `grunt test`

Using [this package](https://www.npmjs.com/package/grunt-eslint) we can test src/es6-fiddle.js for eslint errors.

This will mean that future PR's are always kept to the code base standard.

[2017-01-15 23:33] joshghent opened #18 "Fix issues from PSI"
This is probably one for me but if other people want to have a crack at this then feel free :)

Googles page speed insights has made some suggestions that we should fix. Results can be found [here](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fesfiddle.net)

[2017-01-16 03:06] kaustubhmallik commented on #12
Sure buddy. Let me know if I can help further on this otherwise I will try to work on some other issue.

[2017-01-16 11:46] tarang9211 commented on #17
hey! im new to grunt, but could i take a shot at this?

[2017-01-16 11:53] joshghent commented on #17
@tarang9211 Yeah sure thing. The code will be reviewed before merging so go for it 👍

[2017-01-16 20:43] ageddesi commented on #13
I was doing good but got blocked by mongodb. I have not used this before so
may be a bit while I work out how to set this up and change the default URL
as outlined in your steps.

On 15 Jan 2017 10:44 p.m., "Josh Ghent" <notifications@github.com> wrote:

[2017-01-16 21:17] joshghent commented on #13
@ageddesi That's ok, why do you need to change the default URL?

[2017-01-17 02:29] mercyg commented on #7
Hi, I would like to work on this issue is there any guideline for this issue?

[2017-01-17 07:19] joshghent commented on #7
@mercyg Hi there, apologies this issue has already been done in another PR. I forgot to close it out. There are plenty of other issues that are free which we would welcome PR's on.

[2017-01-17 07:19] joshghent commented on #7
Fixed in https://github.com/esfiddle/esfiddle/pull/9

[2017-01-17 07:19] #7 closed

[2017-01-17 14:51] ageddesi commented on #13
Sorry for not being clearer, I have never used mongdb before so I am at lost what to do here. I have got mongodb installed on my mac and running .

Configure mongo in your environment:
MONGOHQURL='mongodb://localhost:27017/fiddles' or something similar

[2017-01-17 15:49] ageddesi commented on #13
I have done the fix on my fork, https://github.com/ageddesi/esfiddle, however, I just noticed that the files in the project all seemed to be changed by my editor :( Fail!

Will try again tomorrow on a fresh branch and turn off my editors' file formatting.

[2017-01-17 17:58] joshghent commented on #13
@ageddesi Ah yes that's a pain. In the future we will be distributing an .editorconfig with the project to stop this stuff happening! Thanks for your work, look forward to your PR tomorrow.

[2017-01-17 21:54] tarang9211 commented on #17
@joshghent i created a PR for this [here)(https://github.com/esfiddle/esfiddle/pull/20)

[2017-01-17 21:56] tarang9211 opened #21 "Better UI/UX"
Could we improve the design of the site as a whole? It seems to plain for something as modern as ES6

[2017-01-18 08:14] ageddesi commented on #13
This has now been merged into the master branch. Suggest closing this ticket.

[2017-01-18 12:56] joshghent commented on #13
Yes forgot to close this.

This has been done in https://github.com/esfiddle/esfiddle/commit/4f41333ff403fbf682c0a86ba77c1df83783d151

[2017-01-18 12:56] #13 closed

[2017-01-18 17:44] italo-batista commented on #1
Can I try?
Please, check my pull request! :)

[2017-01-18 20:31] #1 closed

[2017-01-18 20:42] joshghent commented on #21
@tarang9211 I had this down on my list todo.
I was thinking of making the code area and console fill the screen and allow resizing of them.

Do you have any suggestions?

[2017-01-18 20:43] joshghent commented on #17
Fixed in https://github.com/esfiddle/esfiddle/pull/20

[2017-01-18 20:43] #17 closed

[2017-01-18 21:07] joshghent opened #23 "ES7 code is not linted correctly"
When clicking the lint button on some code that contains ES7 features, such as Array.include() the code linter brings back a bunch of errors.

The linting is done by JSHint. I notice that we are a couple of version behind with this tool so updating it might fix it. However I would recommend when doing this we add JShint to be a served from a CDN as a deferred or async script.

[2017-01-19 01:54] jinmehta13 commented on #23
Hi, I'm looking to make my first open source contribution and this looks like a good opportunity. Could you provide some more specifics on how you would like to incorporate JShint as a CDN? Also, just doing some quick checks I only noticed the linter returning errors for "Map" and "Exponentiation Operator" not "Array Includes". Those errors persisted even after I substituted a JShint v2.9.4 file i

[2017-01-19 09:34] tarang9211 commented on #21
Have you had a look at [Semantic-UI?](http://semantic-ui.com/introduction/getting-started.html)

It's pretty good our of the box. Also, how do I become a Member on this repo?

[2017-01-19 09:50] joshghent commented on #23
@jinmehta13 Hi there, thanks for looking into this. I looked into it briefly myself and since JSHint gets uglified into es6-fiddle.js then we do not need to replace it with a CDN.

Hmm that is odd that it doesn't fix it. Perhaps take a look into the specific linting errors and see if you can step through the JSHint code to try and spot the issue. It's more than likely a bug our end rather than JSH

[2017-01-19 09:51] joshghent commented on #21
@tarang9211 Yeah that looks pretty good, that or bootstrap really but in both cases they might be overkill. I think we should also be looking at changing the color scheme.

If you become a regular contributor then I will add you as a member of the organisation.

[2017-01-19 09:54] tarang9211 commented on #21
Can we speak on gitter?

[2017-01-19 10:40] joshghent commented on #21
@tarang9211 Yes I'm on there now. I will reply when I can.

If it is a longer message you want to send or discuss then perhaps email me :)

[2017-01-19 11:56] ageddesi commented on #2
Maybe you should consider braking this task down further for example.

* add api calls
* add stars to the page
* create a hall of fame page

[2017-01-19 11:58] ageddesi commented on #21
I agree with @joshghent that adding a UI framework may be overkill considering the simplicity of what the site offers.
Also, it will keep the site size down which is always an extra win.

[2017-01-19 12:01] tarang9211 commented on #21
That's fine. Let's come up with a few ideas and I'll start a PR and get
suggestions from you guys. Sound like a  plan?
On Thu, Jan 19, 2017 at 5:28 PM Aaron Rackley <notifications@github.com>
wrote:

[2017-01-19 12:28] joshghent commented on #21
@ageddesi [There already is one!](https://gitter.im/esfiddle/Lobby)

@tarang9211 Yeah sounds good, perhaps make some mockups in Photoshop or something so we can get an idea of what we are working towards.

[2017-01-19 12:31] joshghent commented on #2
@ageddesi Done, yeah it was a quite a big task so I've said to just add the functionality to begin with and then we can proceed from there.

[2017-01-19 12:33] tarang9211 commented on #21
Uhhh I hate to say this, but I don't have photoshop. I just kind of go with
HTML and CSS
On Thu, Jan 19, 2017 at 5:58 PM Josh Ghent <notifications@github.com> wrote:

[2017-01-19 14:44] joshghent commented on #21
@tarang9211 That's fine! Just a screenshot of what you're working on would be good so we can improve on it 👍

[2017-01-19 22:13] jinmehta13 commented on #23
I think some of these ES7 features just aren't available in JSHint yet. I tried putting the code under the examples section of the Mozilla documentation for the [exponentiation operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Exponentiation_(**)) directly into [JSHint](http://jshint.com/) and the errors/warnings still show. The Mozilla docu

[2017-01-19 22:48] joshghent commented on #23
@jinmehta13 Hmm ok, thank you for your research. Perhaps we can switch to something like Babel or Traceur to lint the code instead? Would you be able to do a PR for this?

[2017-01-19 22:51] joshghent opened #25 "New logo"
Ok so it's high time we got a logo!
This does not have to be the next coca-cola or nike but it would be nice to have a logo of some description.

This logo would be used as an avatar for the project on github and on the website so we would need a logo that can fit in a square.

We have an established maroon color scheme but this is open to change. Go wild!

[2017-01-19 23:02] joshghent opened #27 "About page"
We should probably add an about page for the project.

The content will contain the following:
- About the project
- Information on how to report a bug
- Guide to contribute - link to the contribute guide
- Link to github project

A route will also need adding to the app.js file

[2017-01-19 23:08] joshghent commented on #5
Fixed in https://github.com/esfiddle/esfiddle/pull/26

[2017-01-19 23:08] #5 closed

[2017-01-19 23:12] joshghent opened #28 "Update CONTRIBUTE.md"
The contribute guide needs some love. It has a setup guide and that is basically it.

We need to make sure that people run 'grunt test' before submitting a PR. Maybe this needs setting up as a git hook in the future.

Any other information to help new comers would be helpful. The guide needs to be as concise and streamlined as possible.

[2017-01-20 00:26] joshghent commented on #18
Fixed in https://github.com/esfiddle/esfiddle/pull/29

[2017-01-20 00:26] #18 closed

[2017-01-20 02:09] krys2fa commented on #27
Hello @joshghent, I would like to work on this. Could you please provide me with some more details?

[2017-01-20 02:13] krys2fa commented on #28
Hello @joshghent, I would like to work on this issue. Kindly provide me with further instructions. Thanks

[2017-01-20 02:50] MorrisB-- commented on #25
Hello, I'm wondering if I can design the logo for you guys and hopefully join the team. Please let me know if you have any specific dimensions or anything like that.

Thank you,
Morris

[2017-01-20 05:01] jinmehta13 commented on #23
Sure thing, I'll give it a go. I checked out [Traceur](https://google.github.io/traceur-compiler/demo/repl.html#2%20**%203%20%2F%2F%208%0A3%20**%202%20%2F%2F%209%0A3%20**%202.5%20%2F%2F%2015.588457268119896%0A10%20**%20-1%20%2F%2F%200.1%0ANaN%20**%202%20%2F%2F%20NaN%0A%0A2%20**%203%20**%202%20%2F%2F%20512%0A2%20**%20(3%20**%202)%20%2F%2F%20512%0A(2%20**%203)%20**%202%20%2F%2F%2064) and it has the

[2017-01-20 06:14] ageddesi commented on #2
@joshghent I would like to give this a go over the weekend :) ⭐️

[2017-01-20 09:14] joshghent commented on #25
@MorrisB-- No specific dimensions we just need something that will fit in a square well (like an avatar). It would be good if we had an avatar image and then more of a header image. For example Facebook have the ['F' logo](https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png) and then a [full 'Facebook' logo](https://www.seeklogo.net/wp-content/uploads/2

[2017-01-20 09:15] joshghent commented on #2
@ageddesi All yours my friend 👍

[2017-01-20 09:17] joshghent commented on #28
@krys2fa It needs to be a guide containing the following

- How to setup a local development environment, that is as easy as possible to follow, link to guide to get running with mongo and node etc.
- Show the process of how people can make changes and then submit PR's after they have made the changes.
- Make the point for people to run `grunt test` before submitting a PR.

If you have any other i

[2017-01-20 09:18] joshghent commented on #27
@krys2fa What kind of detail would you like?

The page should look similar to the fiddle page with the red bar at the top but other than that the design is pretty much free reign.

[2017-01-20 14:19] MorrisB-- commented on #25
Sounds good, I'll have a mock up early next week, thanks!

[2017-01-21 00:19] MorrisB-- commented on #25
@joshghent One quick question, should the case for the text look like 'esfiddle' or 'ESFiddle'?

[2017-01-21 01:18] asiyani commented on #8
I have return 2 test cases for API testing on node side. Its for GET /fiddles/fiddle and POST /save. This test will only test node side like if fiddle is saved in db and correct fiddle is passed to client. I am not sure if this is what you looking for.

I am using mocha, chai and superTest for this.

While writing this test I found some issues I am not sure if its a bug for by Design.
  --> Get /f

[2017-01-21 10:28] joshghent commented on #25
@MorrisB-- I think ESFiddle since the ES stands for EcmaScript

[2017-01-21 18:53] jinmehta13 commented on #23
@joshghent I'm at a bit of a roadblock. So it looks like there's some Babel already in the project. Is that sufficient to make the switch? I tried using grunt-babel and added a .babelrc file with presets but I'm not sure how to replace JSHint with Babel in es6-fiddle.js. Can you point me in the right direction?

[2017-01-21 19:08] joshghent commented on #23
@jinmehta13 yes Babel is used currently for the actual transpiling of the code and running it. JSHint is used for the linting.

This change would involve you looking for the Babel API methods to lint code. I can clear up JSHint but we need to make sure that babel is the one doing the transpiling and linting. Thanks :+1:

[2017-01-21 19:24] tarang9211 commented on #23
I thought eslint (my pr) was doing the linting?
On Sun, Jan 22, 2017 at 12:38 AM Josh Ghent <notifications@github.com>
wrote:

[2017-01-21 19:44] joshghent commented on #8
@asiyani That's great work, thank you! If you can think of any more test cases to add (even if they fail) then go for it, the more the better! Only 1 thing is to add the `npm run test-node` to the `npm test` command so it will get run by the CI, but looks good!

The first issue, I will make an issue to fix that, so change the test to expect a 404 error.

The second issue is because we do not have

[2017-01-21 20:50] ageddesi commented on #2
How do we envision this implementation.
Are we imagining that anybody can star a fiddle. (how do we define a user, ip etc)
Then do we have a tally against a fiddle for the amount of stars it has...

[2017-01-21 22:46] joshghent commented on #23
@tarang9211 That is the linting of the source code. We are talking about the linting on the actual site. When you click the lint code button 😁 Lots of linting 😆

[2017-01-21 22:48] joshghent commented on #2
@ageddesi Very good questions. Looking back at this, I think we maybe need to postpone it until we have a login for users (via github). Then when someone tries to star a fiddle it will ask them to sign in with github. I will make a new issue to add a github signin.

Unless you have any ideas on how we can make this work? I am very open to suggestions

[2017-01-21 23:06] joshghent opened #32 "404 Fiddle not found"
When a fiddle is not found (by navigating to one that does not exist) then we need to display a 404 page rather than a json response that the fiddle has not been found.

A PR that addresses this issue would do the following
- Add a 404 page with text saying "Sorry the fiddle could not be found."
- Change the API to respond with a 404 error and send the user to the 404 page.

[2017-01-21 23:08] joshghent opened #33 "Sign in with Github"
This is a job that will allow lots of new features in the future!

We need a way for users to be able to sign in with their github accounts. We don't need to do anything more with it at this stage, just a basic login, logout function. The rest will be added in future PR's/issues

[2017-01-22 03:36] asiyani commented on #8
@joshghent I am trying to submit pull request but it failing on tarvis test

Error message:- [LINK](https://travis-ci.org/esfiddle/esfiddle/builds/194137740)
/home/travis/build/esfiddle/esfiddle/node_modules/mongodb/lib/url_parser.js:18
    throw new Error('invalid schema, expected mongodb');

for this code....

`mongo.connect(String(process.env.MONGODB_URI), function (err, db) {
    fiddles = db.

[2017-01-22 07:41] abhishek71994 commented on #32
I would like to work on this, I am just getting a hang of the backend part of a website. So if its okay, I'd like to give this one a go.

[2017-01-22 08:24] joshghent commented on #32
@abhishek71994 Yeah sure 👍 Look forward to your first PR

[2017-01-22 08:26] joshghent commented on #8
@asiyani I know the issue, submit the PR. It's ok if it's failing for now as we need to fix things like the 404 response etc. Submit the PR and I'll fix it up. I'll have a think of some more tests to add too.

[2017-01-22 11:21] ageddesi commented on #2
I think allowing users to login before Staring fiddles is a good idea also allows us to do a lot more in terms of private fiddles etc.

[2017-01-22 12:51] asiyani commented on #8
Hi
I have submitted pull request.
travis test is still failing with 'Error: invalid schema, expected mongodb'.
Please let me know what is causing this issue.

If you think of any other test let me know.

Thanks

[2017-01-22 13:20] joshghent commented on #8
@asiyani it's caused by Travis not having the environment variables configured correctly. I'll fix it later, thanks for your PR. I'll take a look at this later

[2017-01-22 18:35] joshghent commented on #8
Fixed in https://github.com/esfiddle/esfiddle/pull/36

Thanks to @asiyani for his work and first PR 🎉

[2017-01-22 18:35] #8 closed

[2017-01-22 20:14] tarang9211 opened #37 "Rebasing?"
What branch should we be rebasing against? Master or Develop?

[2017-01-22 20:24] tarang9211 commented on #37
I can `git fetch upstream`. I can't `git checkout master` and then create my branches from master. What's going on with this?

[2017-01-22 21:10] joshghent commented on #37
All development should take place as a branch from "develop". All the PRs will be submitted there and then I will merge them back in master.

I'll look at updating the docs to improve this for clarity.

[2017-01-22 23:20] #37 closed

[2017-01-23 15:22] tarang9211 commented on #6
@joshghent Maybe this is better to tackle now rather than later. What should I be looking up to get started?

[2017-01-23 16:06] joshghent commented on #6
@tarang9211 Basically we need browser sync configuring so it will check the JS and stylus files for changes and rebuild the new css and compiled js. It then needs to reload the browser of the client connected to it (you might have to do this with the "proxy" option but have a play around)

[2017-01-23 16:32] asiyani commented on #32
@joshghent I was thinking rather than displaying whole 404 page to cust we can just Display message on on screen console page "Sorry the fiddle could not be found.".

May be display fiddle Number(string) as well so eu can check if it's typed correctly.

That will save a click for user to use back button and go to main website.

[2017-01-23 19:09] joshghent commented on #32
@asiyani Yeah that sounds like a better idea. Better for UX certainly.
@abhishek71994 Do you still want to cover this issue?

[2017-01-23 19:11] joshghent commented on #28
Fixed in https://github.com/esfiddle/esfiddle/pull/38

Thank you to @ageddesi for his second PR 🎉

[2017-01-23 19:11] #28 closed

[2017-01-23 19:21] asiyani commented on #32
@abhishek71994  ya we need  server to send 404 status with message that includes fiddle ID as well.
so basically we just need to change backend I dont think so we need to make any changes to the frontend. I might be wrong here didnt check front end code yet...

[2017-01-24 08:54] jinmehta13 commented on #23
@joshghent, really hitting a brick wall here. I get that I need to replace the linting button code in es6-fiddle.js lines 233-269 with babel linting methods but I'm finding very little documentation for inline linting with babel or babel-eslint. Everything seems to be directed at linting a file or directory.

[2017-01-24 20:57] joshghent commented on #6
Fixed in https://github.com/esfiddle/esfiddle/pull/41

[2017-01-24 20:57] #6 closed

[2017-01-24 21:32] jagadeesh- commented on #33
Hi, I am first timer and would like to take up this task. Please let me know if any specific details i need to know before taking up this task. Thanks.

[2017-01-24 23:13] joshghent opened #42 "Add a blog"
This PR will need to add a blog to the site. There doesn't need to be a CMS behind it as I can manually add posts.

It needs to ideal have a similar structure to a jekyll blog with a folder of posts that the blog will then display. It does not need to have comment functionality unless it is built into a library that is with the blogging platform.

I would suggest using something like https://githu

[2017-01-24 23:16] joshghent opened #43 "Frontend tests"
We have some backend tests but it would be good if we could write some tests using something like selenium or phantom to test the frontend.

The tests I recommend adding are
- Make sure the vertical layout works
- Make sure the horizontal layout works
- Make sure the github link works
- Make sure the theme dropdown works (for all themes!)
- Make sure the examples dropdown works (for all examples!)

[2017-01-24 23:17] joshghent commented on #33
@jagadeesh- I think we already have @asiyani working on this. Do you have any experience using passportjs?

[2017-01-25 01:59] jagadeesh- commented on #33
@joshghent - I don't have working experience with passportjs. But I am very happy to jump in with something that requires this lib.Thanks.

[2017-01-25 10:12] tarang9211 commented on #42
@joshghent Although I agree with this, don't you think we can use Medium? That site seems to be really popular for blogging!

[2017-01-25 15:14] patrick1011 commented on #43
Hey,

I fancy giving this a bash if that's okay?  I'm a first-timer but have done some test-writing before so think I'd be able to give this a decent shot!

Patrick

[2017-01-25 15:17] tarang9211 commented on #43
@joshghent & @patrick1011 I suggest using Mocha and Chai to test the front end also. We are using that at work, and it seems to do the job pretty well.

[2017-01-25 15:57] joshghent commented on #43
@tarang9211 @patrick1011 Yeah use whatever framework is easiest. As long as they work!

[2017-01-25 23:53] asiyani commented on #33
@joshghent I have implemented Git authentication using passportjs.
following 3 Routes added just for testing...
/auth/github -> this will redirect User to Git login page.
/github/onlyAuthoisedUser -> After authenticating you will come to this page. At the moment it will only show you JSON obj of User model which we will be saving in our database.
/github/logout -> User will log out.

I have update

[2017-01-26 02:30] patrick1011 commented on #43
Great - i'll use Mocha!

[2017-01-26 12:39] joshghent commented on #42
@tarang9211 Yeah, there might be a way to have the blog hosted on medium but with our own domain. Does google index those posts as our site or mediums? Do you know anything about this?

[2017-01-27 01:35] MorrisB-- commented on #25
![esfiddle_dd63a01b](https://cloud.githubusercontent.com/assets/8133610/22357551/8ae12490-e3fe-11e6-9e03-cb0e2b921e6d.jpg)
![esfiddle_dd63a01a](https://cloud.githubusercontent.com/assets/8133610/22357554/9195bbde-e3fe-11e6-986b-a41b301a3854.jpg)

Feel free to rip it apart and let me know what you think.

[2017-01-28 01:39] NeptunianEclipse commented on #3
Hey @joshghent, I would like to have a go at this.

[2017-01-29 09:02] joshghent commented on #3
@NeptunianEclipse All yours friend 👍

[2017-01-30 15:00] patrick1011 commented on #43
@joshghent @tarang9211 Just a quick update - I've written some tests in Mocha + Chai and Selenium to test the layout buttons and github links work.  It's going well.

One question though: what would you say constitutes a test for the dropdowns?  That the editor changes background colour/content based on what's clicked (themes/examples)?

[2017-01-30 15:31] joshghent commented on #43
@patrick1011 I mean in an ideal world then we would make sure that the correct classes get applied when changing the theme, but I think if you just add a test for one theme and then check it works correctly (i.e., the class has been applied, it doesn't matter about the colors that the editor now is) will be fine, thanks :)

[2017-01-30 21:53] asiyani opened #46 "feature: loading 3rd party javascript library"
User should be able to load 3rd party library and do some coding on that.

e.g.
User should be able to load lodash library and then run following fiddle to get response in console page.

[code]

[2017-01-31 09:10] joshghent commented on #46
Great idea @asiyani!

We should probably have an option to add libraries which will open a modal dialogue. We can then have the user put in a link to the JS file they want. In addition to this we can have some preset ones like Lodash etc.

Checkout [codepen.io/pen](http://codepen.io/pen) and click on settings > javascript to see what I have in mind.

[2017-01-31 09:34] asiyani commented on #46
yes, but problem with adding own library in like in codepen is you need to write some boilerplate code before you can actually do what you wanna do.
Atleast in most used library user should be able to just select library and start writing actual code.
e.g. -> user will select lodash -> then just write console.log( _.now() )  this should work.
So we will have to do all background work like requirin

[2017-01-31 13:40] vanjacosic commented on #12
Hey @joshghent and @kaustubhmallik,

Sorry to comment on a closed issue but I thought I'd get in touch with you here.

I'm the Community Manager at Opbeat and I noticed that you guys are working on esfiddle and trying out Opbeat for it.
We like to support open source projects like yours. So if you are serious about using Opbeat, I can help you get started and set up a fully featured plan for free

[2017-01-31 14:11] kaustubhmallik commented on #12
Hi @vanjacosic, its really great what you are offering us. Looks good opportunity to collaborate and explore about this. Waiting for @joshghent reply.

[2017-01-31 21:05] joshghent commented on #12
Hi @vanjacosic No problem! Thanks for reaching out!

Yeah that would be great. I honestly closed the issue because I did not have time. I will make this more of a priority.

What would be involved in getting setup?

[2017-01-31 21:53] joshghent commented on #46
@asiyani Yeah that sounds a good idea. Yeah I think we can stick with the UI we have but skirt over the boilerplate that codepen requires.

[2017-01-31 21:56] joshghent commented on #32
Fixed in https://github.com/esfiddle/esfiddle/pull/40

[2017-01-31 21:56] #32 closed

[2017-01-31 22:06] joshghent commented on #25
@MorrisB-- Sorry for the late reply.

I like the Square logo but not sure a fan of the code icon on the E. How about something like the "JS" unofficial logo

https://camo.githubusercontent.com/eb464a60a4a47f8b600aa71bfbc6aff3fe5c5392/68747470733a2f2f7261772e6769746875622e636f6d2f766f6f646f6f74696b69676f642f6c6f676f2e6a732f6d61737465722f6a732e706e67

[2017-02-01 02:51] MorrisB-- commented on #25
@joshghent I like the using an actual fiddle idea that would be pretty sweet! I'll have a revised version soon, thanks!

[2017-02-01 20:04] joshghent opened #47 "Roadmap - v2.0.0"
This is the primary issue outlining everything that will be done for the 2.0.0 release. This will ideally be completed in 6 weeks or less.

The main goal of this release is to add github signin and saves with fiddles. Future functionality that stems from this will come in later releases.

**UI/UX Changes**
- [x] Change the editors to fill the screen. Move over to use flexbox
- [ ] Improve the mobi

[2017-02-01 21:14] joshghent commented on #3
Fixed in https://github.com/esfiddle/esfiddle/pull/45

Thanks @NeptunianEclipse 👍

[2017-02-01 21:14] #3 closed

[2017-02-01 21:15] asiyani commented on #47
looks good.. I think we need to add  few things to UI/UX like
 -> login /logout button
-> section on website where we can display user name who wrote that fiddle. (only if that user was logged in)  this is good when a guest user is viewing someone else fiddle.
-> Not sure if we should display extra info related to github on our website like no. of repositories ...

[2017-02-03 14:01] ageddesi commented on #2
Do we want a fiddle shows how many stars it has? and this will go up when you click on it to star it?

[2017-02-03 14:17] asiyani commented on #2
Ya I think it's a good idea, in user model I have added field where we  can store fiddle no..
We need to create field in fiddle model to increament no of starts.... I forgot to do this :)

[2017-02-03 16:27] ageddesi commented on #2
I will do that as part of the work for this so no need to worry.

[2017-02-07 19:41] ageddesi commented on #12
Let me know if you need any help with this.

[2017-02-08 22:58] joshghent commented on #2
@ageddesi The github signin has now been done (thanks @asiyani). Let me know if you are still able to do this! We are very keen to add this feature.

[2017-02-09 11:31] ageddesi commented on #2
I still would like to do this but have no free time now until next weekend. If someone wants to pick up in the meantime that is cool with me, otherwise I will pick it back up after.

[2017-02-09 15:54] vanjacosic commented on #12
We just need to get you guys set up on a new organisation and get the app deployed with the Opbeat agent installed and the tokens configured. We can help out with that 😄

@joshghent, can you create an Opbeat account and then press the Help link in the top. That will let you start a chat with support. I or one of my coworkers can then see the conversation and help you get set up.

Remember to menti

[2017-02-10 21:51] joshghent opened #48 "Cache images folder"
Using some kind of express caching middleware (it doesn't matter what, I saw express-cache-control but there are others), make the /images/ directory cache for a month.

This will improve load times for users as images are probably the largest asset on the page.

[2017-02-10 21:55] joshghent opened #49 "Dynamically show the Login and Logout buttons"
We have now implemented github login on the develop branch.

We have three buttons on the main index.html page (the code page) - Login, Logout and View Profile.

If a user is logged in we should show the Logout and View Profile button.

If they are not logged in then show the Login button.

Speak to @asiyani about how to detect if the user is logged in on the front-end.

[2017-02-10 22:06] anish-shekhawat commented on #49
Hey @joshghent, I would like to work on this!

[2017-02-10 23:47] joshghent commented on #49
@anish-shekhawat All your amigo!

[2017-02-11 03:09] cyberangle commented on #42
Why not just install wordpress onto your server?

[2017-02-11 08:39] joshghent commented on #42
@cyberangle Its hosted on heroku. And I would prefer to just have something skinny that we can just have markdown files on. Not a bulky CMS that has a number of security holes

[2017-02-14 23:03] joshghent commented on #25
@MorrisB-- Hey, how's it going? Need any help?

[2017-02-14 23:04] joshghent commented on #33
Fixed in https://github.com/esfiddle/esfiddle/pull/44

[2017-02-14 23:04] #33 closed

[2017-02-14 23:04] joshghent commented on #27
@krys2fa Hey, how's it going?

[2017-02-15 01:33] MorrisB-- commented on #25
@joshghent Yeah I'm still working on it, got a little side tracked, I'll be working on it full throttle this weekend!

[2017-02-15 22:12] ironprice91 commented on #48
@joshghent I'd like to work on this

[2017-02-16 06:56] velascoDev commented on #27
Hello Josh, I would be happy to help with this.

[2017-02-16 07:24] joshghent commented on #27
@velascoDev Yeah sure thing, all yours!
Don't worry to much about the copy on the page, when you submit a PR I will go in and add stuff about the project if needed.
Thanks 😁

[2017-02-16 07:24] joshghent commented on #48
@ironprice91 Of course! All yours! We look forward to your PR 👍

[2017-02-16 21:05] joshghent commented on #27
Done in https://github.com/esfiddle/esfiddle/pull/50. Thanks @velascoDev!

[2017-02-16 21:05] #27 closed

[2017-02-16 21:17] joshghent commented on #21
Going to close this off for now. I have a good idea of what needs doing and I will be working on raising issues and cracking away at them over the next few weeks. I want to break down this task into many issues so different contributors can work on them.

[2017-02-16 21:17] #21 closed

[2017-02-16 21:18] joshghent commented on #10
Just a reminder that this is still up for grabs! We'd be very welcome of PR's!

[2017-02-16 21:18] joshghent commented on #43
@patrick1011 Hey there, have you had chance to work on this at all? It's ok if not, just want to check in and see if this is still in the works 👍

[2017-02-16 22:38] SaraVieira commented on #10
Hello @joshghent,

Do you mean vertically and horizontaly?

Shpuld the padding between the two boxes be removed?

[2017-02-16 23:36] joshghent commented on #10
@SaraVieira Yes both horizontally and vertically. Depending on which mode the user has selected.

I believe so yes, ideally we want the divide between the code and console list to be flexible so users can make the code/console window bigger/smaller.

[2017-02-17 01:06] SaraVieira commented on #10
Always put both of them at full size and being able to make resize them correct?

I was also thinking we could do something about the select boxes,  no?

[2017-02-17 01:06] SaraVieira commented on #10
Another thing I thought by seeing the site is that I am so used to dark mode on everything that it feels weird to code in white space I guess,  would a dark theme be a good idea?

[2017-02-17 08:59] joshghent commented on #10
@SaraVieira Yeah exactly.
I'm not sure about the select boxes, do you have any suggestions?

Yeah we have a dark theme! Just click the moon icon in the top right!

[2017-02-17 09:46] SaraVieira commented on #10
As soon as I get back from vacations I will take a look at that,  I will also send you some screenshots to this thread with pics from how it's going so you can approve :)

[2017-02-17 09:49] asiyani commented on #49
@anish-shekhawat how it's going? Do you need any help?

[2017-02-17 10:25] joshghent commented on #10
@SaraVieira Brilliant, thank you very much! Look forward to your PR! Have a nice time on your vacation! 🍹 🏖

[2017-02-17 13:19] SaraVieira commented on #10
Thank you and I should get back to you on Sunday or Monday :party-parrot

[2017-02-17 19:02] joshghent commented on #48
Fixed in https://github.com/esfiddle/esfiddle/pull/51
Thanks @ironprice91 🎉

[2017-02-17 19:02] #48 closed

[2017-02-17 19:04] joshghent commented on #47
Updated the issue with all the issues that are now complete.
Thanks everyone!

[2017-02-18 01:09] velascoDev commented on #46
@joshghent I think we should use jQuery to handle this. This method is perfect for it: http://api.jquery.com/jQuery.getScript/

I can go ahead and implement it, if you want.

[2017-02-18 09:31] anish-shekhawat commented on #49
Hey @asiyani, couldn't work on it last week due to a class project. I am working on it now. Thanks for the help! I will let you know if I get stuck!

[2017-02-18 13:41] joshghent commented on #46
Hmm, I'm not sure about including the entire jquery library for one method.
Is there anyway we can require a single method of jquery like with lodash?
I'd ideally like to make sure the site is as light weight as possible.

How would you go about loading the library in? Perhaps we can checkout
using the cdnjs API to get a CDN link to all the libraries we will support
(lodash, underscore etc.)

What

[2017-02-18 21:03] velascoDev commented on #46
I was thinking of doing something like this: http://codepen.io/velascoDev/pen/wgbZQL?editors=1111
but I'm not sure if it would work with the babel compiler.
Idk about just one method, but using this approach: http://developer.telerik.com/featured/jquery-using-only-what-you-need/
we can require only the jQuery AJAX module, which is 13K when compressed.

[2017-02-18 21:08] velascoDev commented on #46
As for using the cdnjs API, I'm not sure about how to execute the response file properly. How would you go about that?

[2017-02-19 10:42] anish-shekhawat commented on #49
Hey @asiyani can you help me out with the login part?

[2017-02-19 18:26] asiyani commented on #49
ya sure, if you are using template on server side you can use `req.isAuthenticated()` which will return true for logged in user.
OR we can create API to find out if user is logged in or not from Client side.

[2017-02-20 09:25] joshghent commented on #49
I'd like to do templating as it might be useful in the future but I believe an API to check whether the user is authenticated could be useful.

Ideally go with templating as it will mean greater security. It's a bigger job but would be very useful.

[2017-02-20 09:30] anish-shekhawat commented on #49
Thanks! @joshghent and @asiyani. I will go with templating then.

[2017-02-20 15:38] joshghent commented on #2
@ageddesi Hey did you get round to this at all? No problem if not 😀

[2017-02-20 17:01] tarang9211 commented on #43
@patrick1011 sorry for being so late to the party. In such cases, I have tested for the presence of the class name and that works. Let me know if you run into any issues!

[2017-02-20 17:44] SaraVieira commented on #10
<img width="600" alt="screen shot 2017-02-20 at 17 43 46" src="https://cloud.githubusercontent.com/assets/1051509/23136338/34afe666-f794-11e6-86a3-2ae86ab3a94b.png">

This how it's looking so far, is this what you wanted ? @joshghent

[2017-02-20 19:05] joshghent commented on #10
@SaraVieira Looks great! Look forward to your PR.
Hope you had a nice vacation 🏖

[2017-02-20 21:56] galxzx commented on #42
Are you still looking for a lightweight blog to be added? I can do this.

[2017-02-20 22:21] SaraVieira commented on #10
https://github.com/esfiddle/esfiddle/pull/52

Please tests and see if you find any issues :)

They were great ! Thank you 💃

[2017-02-20 22:50] joshghent commented on #42
@galxzx I was trying to work on this today and found there was more to it than I initially thought!
If you are familiar with it or feel comfortable doing that, it would be fantastic 👍

[2017-02-21 02:25] galxzx commented on #42
@joshghent How hands on can it be? With Hexo, you can fairly easily build static pages from markdown files in node. You would then have to manually add the static files generated by Hexo to the site after writing each post.  For multiple blog contributors, a separate repo would likely have to be set up to contain the Hexo files before generation so that each call to generate would spawn from the s

[2017-02-21 07:34] joshghent commented on #42
@galxzx It's not difficult per say I was going to use poetjs and then use ejs templates for the blog posts. Having a static blog generator though is good too.
We would need a new route setting up called /blog (make sure you exclude this from the fiddles route too), and then just have it load all the articles with a preview and then you could click through to them. That's about it really.
Let me kn

[2017-02-21 13:10] joshghent commented on #43
@patrick1011 I'd advice using something like this http://nightwatchjs.org/
Mocha doesn't seem to have great syntax for checking css without mocking loads of stuff.

[2017-02-21 13:50] galxzx commented on #42
@joshghent I'll get started on this today.

[2017-02-21 18:02] uzluisf commented on #25
@joshghent I took a go in the logo design!

1)
![rounded_logo](https://cloud.githubusercontent.com/assets/22332927/23176717/4edcdf6e-f832-11e6-9f63-f6405da51a4f.png)

2)
![rounded_logo_only](https://cloud.githubusercontent.com/assets/22332927/23176735/5f6e1bc2-f832-11e6-83d3-6830b42944e2.png)

3)
![long_logo_may](https://cloud.githubusercontent.com/assets/22332927/23176736/6518423c-f832-11e6-94ba-

[2017-02-21 21:54] MorrisB-- commented on #25
@uzluisf Those look pretty sweet, mine ended up looking liike this
![esfiddle_dd63a02a](https://cloud.githubusercontent.com/assets/8133610/23186803/0466686c-f84e-11e6-8d41-c53d72754b16.jpg)
![esfiddle_dd63a01b](https://cloud.githubusercontent.com/assets/8133610/23186804/046b30ae-f84e-11e6-9be4-2a4d320b089c.jpg)

[2017-02-21 23:24] joshghent opened #53 "Design documentation"
Originally the site was one single page, as we are growing the number of pages we need to have a consistent look and feel to each of them.
This is a reasonably big task but do not be put off as it can be done by many different people. **If you have an eye for design this is for you!**

What we require is documentation on how we can make the pages look consistent (for new contributors if they are c

[2017-02-21 23:27] joshghent opened #54 "Move from Stylus to SASS"
When I inherited the project the styles were written in Stylus. I never knew stylus so I just wrote css in the stylus files basically. I think a lot more people are familiar with SASS (myself included!) and so can take full advantage of the features that SASS offers.

A PR for this issue would include moving all our .stylus files over to sass files and configuring that in the build process (includ

[2017-02-21 23:37] joshghent opened #55 "Rename and sort folder structure"
I've noticed that the whole folder structure we have for the project might be a bit confusing. Some people initially think that we should change things in static/ (which was true for a while). Nonetheless, I think this could be done to be much less confusing.

I was thinking of doing the following changes
- Rename static to 'dest' or 'dist'
- Create a folder inside 'src' for 'js' and 'views'
- Mov

[2017-02-21 23:39] joshghent opened #56 "Improve score on the Google mobile friendly test"
https://search.google.com/search-console/mobile-friendly?id=EqQWeljAIXs06Nr6Luca4A

All the issues are there really, they need addressing.

A good change would be for mobile devices to default to the horizontal view if it's between a certain width. On tablets (in landscape) you can probably use it in the vertical view but with thinner screens it would look cramped by default and not user friendly.

[2017-02-22 07:50] ageddesi commented on #2
Sorry I did not not I was also hit with the flu this week and still not recovered :( I am still happy for someone else to pick this up in the meantime.

[2017-02-22 08:01] ageddesi commented on #25
maybe the fiddle could be the I in fiddle ?

[2017-02-22 09:36] SaraVieira commented on #10
You can close this issue :)

[2017-02-22 09:38] SaraVieira commented on #56
I can work on this it sounds pretty fun.
But I would like to know if I structure the CSS first?
That file is in big file man :p

You also have a issue to move from stylus to SASS,  can I move it to less instead?  Pretty please?  :p

[2017-02-22 10:37] joshghent commented on #10
@SaraVieira Yes thank you. Forgot to close this.

Completed in https://github.com/esfiddle/esfiddle/pull/52
Thanks to @SaraVieira :+1: :tada:

[2017-02-22 10:37] #10 closed

[2017-02-22 10:39] joshghent commented on #56
@SaraVieira Yeah we need to restructure the CSS for sure. More modular I think definitely.
Hmm im not sure, why do you say Less over SASS? I really only went with SASS due to its high usage and familiar syntax for me.

[2017-02-22 10:42] SaraVieira commented on #56
That was my ideia with the CSS, separate that.

I have been using less for years, I guess it's just a matter of preference and proficiency, I would be faster using less than SASS but I can use SASS 👍

[2017-02-22 11:52] SaraVieira commented on #56
![screen shot 2017-02-22 at 11 51 51](https://cloud.githubusercontent.com/assets/1051509/23210409/582117ac-f8f5-11e6-994b-a9bba9049961.png)

Is something like this something you would like ?

[2017-02-22 12:25] joshghent commented on #56
@SaraVieira Yeah I don't mind LESS if you are familiar with it. The important thing is too moderlize so it's easier to maintain in the future. And also rename classes and IDs so they are easier actually see what they are doing.

Yeah that looks good. Needs tweaking but on the whole that's pretty much it. Not much of our traffic is on mobile so we do not need to worry too much.

[2017-02-22 12:48] amandaporto commented on #55
I'd like to take a shot at this in the next few days :)

[2017-02-22 12:58] joshghent commented on #55
@amandaporto Brilliant, look forward to your PR 👍  Let me know if you need any help.

[2017-02-22 13:40] SaraVieira commented on #56
Okay , I'm going to divide this in to three pull requests, one for the LESS & lessLint, then the mobile one that will look something like this on phone but with a few tweaks on the head.

Later when did this approved I can try to work on the design documentation to make the site more consistent, does that sound okay to you ? 🎉

@joshghent

[2017-02-22 13:46] joshghent commented on #56
Sounds great. Best to do it in small steps! Thanks @SaraVieira :+1:

[2017-02-22 17:34] SaraVieira commented on #56
Pull request for LESS created :)

[2017-02-22 18:40] joshghent opened #59 "Add CODE_OF_CONDUCT.md"
As we are getting more contributors we need a code of conduct to ensure we have a welcoming environment for the community. ESFiddle should be accessible to anyone regardless of background, race, gender or, when the aliens come, what planet they are from.

We need to add a new CODE_OF_CONDUCT.md file with the contents from [here](http://contributor-covenant.org/version/1/4/code_of_conduct.md)

[2017-02-22 18:45] tarang9211 commented on #59
I got this
On Thu, Feb 23, 2017 at 12:10 AM Josh Ghent <notifications@github.com>
wrote:

[2017-02-22 20:24] babzcraig commented on #54
Hello @joshghent. I'd like to take up this issue. Also, do you need any help with the front end design? I can help with general layout, spacing etc. Let me know

[2017-02-22 20:28] joshghent commented on #54
@babzcraig Hi there, thanks for your interest. This issue is already being handled here https://github.com/esfiddle/esfiddle/pull/58

We do definitely need help with the front end however. We do not have designs set in stone so you are free to design yourself! The entire login area for users needs redesigning. Perhaps talk with @SaraVieira as she seems to be heading up the redesign. :+1:

[2017-02-22 21:24] joshghent commented on #54
We ended up porting to LESS. Thanks to @SaraVieira for doing that.
Fixed in https://github.com/esfiddle/esfiddle/pull/58

[2017-02-22 21:24] #54 closed

[2017-02-22 21:27] SaraVieira commented on #42
I think @galxzx already closed this one 👍

[2017-02-22 21:29] SaraVieira commented on #56
I'll start doing little steps of redesign and mobile design and post pictures here so people can give their input, is that okay?

I'm really liking working on this project 🎉
this will also affect issue #53

[2017-02-22 21:30] joshghent commented on #42
@SaraVieira Thanks for reminding me again! 😁

Completed in https://github.com/esfiddle/esfiddle/pull/57
Thanks @galxzx 👍 🎉

[2017-02-22 21:30] #42 closed

[2017-02-22 21:33] joshghent commented on #46
@velascoDev Sorry for not getting back to you. I would run a query for the library that the user requested and then get the URL of that library and load it in as a script element.

I'm not 100% sure however as in the case of some libraries there are multiple prerequisites. For example to load bootstrap.js you first need jquery.

I'll have a think about how best to go about this. It could be that w

[2017-02-22 21:38] joshghent opened #61 "Update travis node versions"
In travis.yml we need to set the versions of node that travisCI will run our test suite against.

We want to support all the node versions that are still actively maintained by the node community as well as the latest current version.

Check out[ this repo](https://github.com/nodejs/LTS) for a list of node versions that are still active.

Using the list there, please update the travis.yml with the

[2017-02-22 21:40] joshghent commented on #56
@SaraVieira Yeah that would be great. I prefer seeing the visualize so that would be great. Design docs would be fantastic too, let me know if you have any questions about all this.

Glad to hear it! We're liking you work on the project too! 💯  Let me know if there is anything else we can help with 👍

[2017-02-22 21:45] joshghent opened #62 "Add trevor to dev dependencies"
Super simple one here, add [trevor](https://github.com/vadimdemedes/trevor) to the dev dependencies and make sure the travisCI suite runs.

[2017-02-22 21:47] joshghent opened #63 "Add pre-push to run travis test suite"
In connection with #62 we want to add a pre-push script to run the test suite on all the node versions we support.

#62 will have added trevor which allows for running travis locally in essence. Before a project contributor pushes to their remote branch we want to make sure the test suite passes. Add [this](https://github.com/clearhead/pre-push) to the dev dependencies and configure it to run trev

[2017-02-22 21:50] joshghent opened #64 "ES6 Rewrite"
Big one here!
This is a two step process.

1. Rewrite /src/es6-fiddle.js to be in ES2015+
2. Add a babel task to compile this js to ES5 code and add it to the watch task so that we can make changes and not have to restart the server.

Big one here but good fun. Make sure to test throughly!

[2017-02-22 21:52] joshghent commented on #47
Ok we haven't quite completed everything but I think this is a good place to wrap up and release. We want get all the new shiny features that have been lovingly worked on into the hands of the users.

I'm going to close this off and mark the current development branch state as 2.0.0.

Thank you all for your hard work

[2017-02-22 21:52] #47 closed

[2017-02-22 22:00] SaraVieira commented on #62
on it 👍

[2017-02-22 22:14] SaraVieira commented on #62
@joshghent Are the node tests passing on your machine ?

[2017-02-22 22:16] joshghent commented on #62
@SaraVieira Yeah they are pretty much all passing apart from a few that are pending. They passed on travis when they were run last time so they _should_ be working 😁

[2017-02-22 22:24] joshghent opened #66 "Roadmap 3.0.0 - The big code clean up!"
We got nearly all the features we wanted for version 2.0.0 done and released. Well done to everyone who contributed. It's amazing to see this little project turn into something with a great set of people hard at work on it! **Keep up the good work. And tell your friends!**

My reaction when we get new PR's ![Woo!](https://media.giphy.com/media/azxKobAo7JnO0/giphy.gif)

### **Anyway...**

In the co

[2017-02-22 22:28] SaraVieira commented on #66
🎉 Awesome goals @joshghent !

[2017-02-22 22:35] asiyani commented on #46
found this [blog](https://www.nczonline.net/blog/2009/07/28/the-best-way-to-load-external-javascript/) it addes script tag to head and calls callback function
Implemented same using cdnjs Not sure how to load specific version for the best way we can implement that....[code pen](url)
I think if we do this way we might have to remove script tag from head once fiddle is done or new fiddle is loaded.

[2017-02-22 22:40] asiyani commented on #66
We also needs to add name or description for saved fiddles. (only for logged in users)
At the moment user profile shows just a fiddle number, when you have multiple fiddle saved its difficult to find out which one is which.

[2017-02-22 22:48] joshghent commented on #66
@asiyani Great idea - added

[2017-02-22 22:59] SaraVieira commented on #62
closed by #65

[2017-02-22 23:00] #62 closed

[2017-02-22 23:23] SaraVieira commented on #53
I will start this tomorrow and this will be done as a part of the creation of the new theme for ESFiddle, if anyone wants to join they are more than welcome to

[2017-02-22 23:26] SaraVieira commented on #25
Great work @MorrisB ! I really like both those ones 👍

[2017-02-23 00:09] uzluisf commented on #25
@MorrisB-- Yours look great too! What's the font you're using?

[2017-02-23 01:20] musicionary commented on #61
@joshghent I'd love to help on this.  I've looked at the repo you linked, and the travisCI docs.  Just to clarify, are you looking for the file to be update only with major release versions, or minor release versions as well?

[2017-02-23 01:20] MorrisB-- commented on #25
@ageddesi I was trying the i, and both of the d's it just didn't work out lol

@SaraVieira @uzluisf Thanks! I don't remember what font it is I pretty much just searched Facebook font

[2017-02-23 07:17] joshghent commented on #61
@musicionary Just major versions please. Thanks a lot. Look forward to your PR 👍

[2017-02-23 07:19] joshghent commented on #25
@MorrisB-- I like the 2nd version. I won't close this issue off just yet as I know @SaraVieira is working on the redesign of the site atm and that might include changing the colors we use. If we do change then it may require a slight tweak changing the color but I'm happy to use those logos 👍
Thanks a lot!

[2017-02-23 10:04] tarang9211 commented on #25
just pitching my two cents in. I really like all the logos, but I do think they are a little too complicated and intricate. I say this when I compare this to the logos of StackOverflow, JsFiddle, even CodePen. I like @MorrisB-- second logo (from his latest comment). just my two cents guys, I'm a fan of simplistic logos which are easy to remember.

For example - when a user sees the logo he should

[2017-02-23 10:23] SaraVieira commented on #25
Hello @tarang9211,

That is a valid statment, what you are saying is that you would prefer something like this:
<img width="841" alt="screen shot 2017-02-23 at 10 21 33" src="https://cloud.githubusercontent.com/assets/1051509/23255038/fa3fd6f6-f9b1-11e6-95b1-bd77b684afe5.png">

over big logos right ?

[2017-02-23 10:27] tarang9211 commented on #25
Yes! It's simplistic and easy to remember. Let's try out more variations?

[2017-02-23 10:31] SaraVieira commented on #25
Does anyone have sketch ? I can provide the .sketch file for this

I'll upload more variations later tonight @tarang9211  👍

[2017-02-23 10:32] tarang9211 commented on #25
Also, let's take this discussion to Gitter!

[2017-02-23 10:34] tarang9211 commented on #25
I do have sketch @SaraVieira

[2017-02-23 10:36] SaraVieira commented on #25
@tarang9211 You can play with it if you want, here is the sketch file:
[esfiddle.zip](https://github.com/esfiddle/esfiddle/files/796211/esfiddle.zip)

[2017-02-23 10:53] joshghent commented on #25
@SaraVieira That's the best suggestion so far. Looks good.

I think we shouldn't do the whole fiddle thing as it seems a little forced and doesn't fit with the typography we have.

I think instead we should have some lab goggles side on or perhaps head on above the esfiddle logo. This will represent the experimentation aspect of ESFiddle as well as the educational side to it.

[2017-02-23 11:05] SaraVieira commented on #25
<img width="818" alt="screen shot 2017-02-23 at 11 05 00" src="https://cloud.githubusercontent.com/assets/1051509/23256582/f33bb11c-f9b7-11e6-9e9c-5cbea6d4a5b9.png">

Like this ? @joshghent

[2017-02-23 11:05] SaraVieira commented on #25
I think this actually looks awesome ! 👯

[2017-02-23 11:06] tarang9211 commented on #25
Still a fan of the first one @SaraVieira

[2017-02-23 11:07] SaraVieira commented on #25
@tarang9211 you liked it better than the last one ?

[2017-02-23 11:07] tarang9211 commented on #25
@SaraVieira Yup. I find the second one too complicated.

[2017-02-23 11:08] SaraVieira commented on #25
@tarang9211 maybe removing some of the glow in the glasses and the lettering would help

[2017-02-23 11:10] tarang9211 commented on #25
Maybe, I think the learning will happen on the site itself. What we need to do is get a logo simple enough for anyone to remember.

Example : When someone sees the logo, they should be like oh yeah, that's ESFiddle!

[2017-02-23 11:12] SaraVieira commented on #25
<img width="644" alt="screen shot 2017-02-23 at 11 11 59" src="https://cloud.githubusercontent.com/assets/1051509/23256797/ea5229a4-f9b8-11e6-9cc4-7e72f586aa12.png">

Shadows and lettering removed

[2017-02-23 11:14] joshghent commented on #25
@SaraVieira Looks good. Perhaps remove the hexagon as I think it makes it look more polar 😁  I think it looks good. Add the letter back too! I think perhaps a slightly thicker font however. Play around with the type faces I reckon.

[2017-02-23 11:16] SaraVieira commented on #25
@joshghent Remove the haxagon and place what ? That was my issue :/

[2017-02-23 11:35] SaraVieira commented on #25
<img width="547" alt="screen shot 2017-02-23 at 11 35 01" src="https://cloud.githubusercontent.com/assets/1051509/23257521/23b41ba0-f9bc-11e6-9d05-afcfd68490cd.png">

[2017-02-23 11:36] tarang9211 commented on #25
I like this, but I don't understand the goggles.

[2017-02-23 11:36] SaraVieira commented on #25
Because science and learning 💃

[2017-02-23 11:37] tarang9211 commented on #25
Agreed, but we're not promoting a "science" application. Hope I'm not being too demanding/negative.

[2017-02-23 11:39] SaraVieira commented on #25
But a learning one and I think it amounts to the same in the end of the day, if we followed the computer route we would have a terminal logo just like every other programming website

[2017-02-23 11:43] joshghent commented on #25
@tarang9211 As I said when I suggested this idea, the goggles perhaps suggest the experimentation side of the site as well as the education that people will get by using our code examples.

@SaraVieira is exactly right. My idea was to have something that is a symbol for the site that is away from just uninventive code type logos. For example Yarn pkg uses a cat.

[2017-02-23 11:44] SaraVieira commented on #25
@joshghent Should we vote on the logo ?

[2017-02-23 11:51] SaraVieira commented on #25
<img width="428" alt="screen shot 2017-02-23 at 11 49 09" src="https://cloud.githubusercontent.com/assets/1051509/23258002/1de04b70-f9be-11e6-882a-1caafce0d0e2.png">

<img width="378" alt="screen shot 2017-02-23 at 11 50 50" src="https://cloud.githubusercontent.com/assets/1051509/23258042/61015ffc-f9be-11e6-8c16-f26f0eb43180.png">

[2017-02-23 12:00] joshghent commented on #25
@SaraVieira Looks good. I think the font needs changing to something different. I'm not against a script/writing type font but I'm not a fan of that one (Lobster I think?)

[2017-02-23 12:03] SaraVieira commented on #25
@joshghent but do you prefer just the googles or the googles with the text ? I like the previous to these ones better

[2017-02-23 12:12] joshghent commented on #25
I prefer the goggles with the text underneath.
It will act as the big logo with the text
And then for the icon we will just use the goggles.

[2017-02-23 12:24] SaraVieira commented on #25
Cool then,  I will some variations with fonts later when I get off work :)

[2017-02-23 16:55] joshghent commented on #25
@SaraVieira Looking at it again, I reckon the shine on the glasses would be good too.

[2017-02-23 17:28] SaraVieira commented on #25
<img width="484" alt="screen shot 2017-02-23 at 17 27 16" src="https://cloud.githubusercontent.com/assets/1051509/23270936/7fba1f22-f9ed-11e6-8bae-7548fc30b6cf.png">

Like this ?

[2017-02-23 18:04] joshghent commented on #25
@SaraVieira Yeah exactly, now I guess to have a play around with font faces. Not sure what style of font to go for even. Any ideas?

[2017-02-23 18:05] SaraVieira commented on #25
<img width="386" alt="screen shot 2017-02-23 at 18 03 36" src="https://cloud.githubusercontent.com/assets/1051509/23272296/967eb9a2-f9f2-11e6-8f30-23e2a5b666d5.png">

This one uses bree serif

[2017-02-23 18:06] SaraVieira commented on #25
This one is more playful:

<img width="403" alt="screen shot 2017-02-23 at 18 05 34" src="https://cloud.githubusercontent.com/assets/1051509/23272322/b5874e22-f9f2-11e6-817a-ee50e7966ad2.png">

[2017-02-23 18:17] SaraVieira commented on #25
@joshghent Can you give some idea of fonts from here: https://fonts.google.com/ ?

[2017-02-23 18:30] joshghent commented on #25
@SaraVieira Just had a look and found these similar alternatives
https://fonts.google.com/specimen/Raleway
https://fonts.google.com/specimen/PT+Sans
https://fonts.google.com/specimen/Montserrat

[2017-02-23 19:40] SaraVieira commented on #25
Raleway
<img width="475" alt="screen shot 2017-02-23 at 19 38 16" src="https://cloud.githubusercontent.com/assets/1051509/23275847/f0d63f62-f9ff-11e6-835f-6b7f2a06ba07.png">

PT Sans
<img width="380" alt="screen shot 2017-02-23 at 19 38 36" src="https://cloud.githubusercontent.com/assets/1051509/23275845/f0d2906a-f9ff-11e6-8f1d-92e2fd84b113.png">

Montserrat
<img width="425" alt="screen shot 2017-

[2017-02-23 19:41] SaraVieira commented on #25
I like PT Sans and Bree Serif, how about you @joshghent ?

[2017-02-23 19:43] joshghent commented on #25
@SaraVieira Yeah PT Sans gets my vote. I'm happy to go with that if everyone else is.

[2017-02-23 19:46] SaraVieira commented on #25
Black BG:
<img width="473" alt="screen shot 2017-02-23 at 19 45 08" src="https://cloud.githubusercontent.com/assets/1051509/23276038/a377d36a-fa00-11e6-9f57-6c2e2066950b.png">

Black BG with all lowercase letters:
<img width="546" alt="screen shot 2017-02-23 at 19 46 25" src="https://cloud.githubusercontent.com/assets/1051509/23276072/d07b0c1a-fa00-11e6-8d9c-d161e06ab796.png">

[2017-02-23 19:52] siddharthkp commented on #64
I'm up for it, if it's cool with you

[2017-02-23 19:55] joshghent commented on #64
@siddharthkp Of course, we'd be happy to have PR's on this issue! 🎉
Let me know how you get along 👍 Here is our [Gitter](https://gitter.im/esfiddle/Lobby?) if you have any questions

[2017-02-23 20:06] musicionary commented on #61
@joshghent I submitted a PR and the Travis build didn't pass with all versions in the update travis.yml (only current, v7, and v6).  I'm adding '.x' in the file to see if that makes the builds pass, but the logs in the Travis builds report errors from a missing npm module or some unexpected token.  Looking into those before I submit another PR

[2017-02-23 22:00] joshghent commented on #61
Fixed in https://github.com/esfiddle/esfiddle/pull/67
Thanks to @musicionary for his work 🎉
Look forward to your future contributions! Let us know if you need any help! 👍

[2017-02-23 22:00] #61 closed

[2017-02-23 22:17] asiyani opened #70 "Eslint giving syntax error for ES6 syntax"
#### Need to configure ESlint to support ES6.

Some of the code on server side is written in es6 syntax,  also we are planning to move front end code to ES6 as well. we need to configure eslint for this.

Also it would be great if we have some sort of provision for future ES versions.

[2017-02-23 23:02] #59 closed

[2017-02-24 01:43] MorrisB-- commented on #25
@SaraVieira Sold on the black background!

[2017-02-24 02:05] asiyani commented on #2
HI I am working on this one at the moment...

[2017-02-24 02:08] vcapretz commented on #70
Working on that!

[2017-02-24 02:26] vcapretz commented on #70
@asiyani pull request here: https://github.com/esfiddle/esfiddle/pull/72

[2017-02-24 02:30] vcapretz commented on #64
hey @siddharthkp let me know if you need help, would like to work on this one as well

[2017-02-24 04:48] siddharthkp commented on #64
@vcapretz would you like to code review?

Will complete this tomorrow.

[2017-02-24 05:49] tarang9211 commented on #59
Wait I thought I was picking this up josh?
On Fri, Feb 24, 2017 at 4:32 AM Josh Ghent <notifications@github.com> wrote:

[2017-02-24 07:33] #70 closed

[2017-02-24 07:36] joshghent commented on #70
Thanks to @vcapretz for his great work! 🎉
Completed in #72
Look forward to seeing you soon 👍

[2017-02-24 07:37] joshghent commented on #64
@siddharthkp @vcapretz Sounds great guys, when you submit the PR we can both take a look down and review it. I think we should also be testing locally throughly to make sure everything is still operational (especially cross browser).
Thanks for your work 👍

[2017-02-24 07:38] joshghent commented on #2
@asiyani Brilliant, thanks dude.
@ageddesi 🤒 Ah that sucks dude! Hope you've recovered from the flu! Get better soon! 👍

[2017-02-24 09:34] joshghent commented on #59
@tarang9211 Apologies I didn't realise the time difference between us! I wanted to get these changes out the door and thought you may have just got busy. My mistake. Sorry about that! 😨

[2017-02-24 10:31] SaraVieira commented on #25
Awesome !

@joshghent Can this issue be closed ?

[2017-02-24 10:40] SaraVieira commented on #25
Here is the ZIP with the sketch, SVG and PNG files

[ESFiddle Logos.zip](https://github.com/esfiddle/esfiddle/files/799023/ESFiddle.Logos.zip)

[2017-02-24 16:12] musicionary commented on #61
Thanks @joshghent for letting me help!

[2017-02-24 18:22] joshghent commented on #61
@musicionary Pleasure is mine! We'd be very happy to have you work with us again! 👍

[2017-02-24 18:43] joshghent opened #73 "Split app.js route down"
The main app.js file has become a little unwieldy and needs breaking down.

I'd suggest breaking it down into the following inside of a 'routes' folder.
* Main page route (embeded and regular)
* Authorised routes (github login etc)
* Other pages like the blog and about

Make sure that all the api tests work after you do this!

[2017-02-24 18:49] joshghent opened #74 "Add new example code"
One of the main focuses of ESFiddle is to have a rich library of example code for ES2015+.
It would be great to expand this collection of code even further and improve the current code we have.

If you can think of a code example to demonstrate a new ES2015 or ES2016 feature then write it in the 'src/examples' folder and then submit a new PR! 🎉

**We will be accepting multiple PR's for this so any

[2017-02-25 03:29] Kashyap12 commented on #73
hi @joshghent , can i take this up?

[2017-02-25 12:08] joshghent commented on #73
@Kashyap12 Of course! All yours! Let me or anyone else know if you have any questions 👍
Look forward to your PR 🎉

[2017-02-26 14:41] SaraVieira commented on #43
@joshghent I think we should use mocha for the tests and then supercharge later with some CSS regression tests with https://github.com/Huddle/PhantomCSS

The idea is that I think those two things should be split, unit tests and layout tests, what do you think ?

[2017-02-26 17:45] joshghent commented on #43
@SaraVieira Agreed, split them down. I agree with the different types of testing as well. Good to cover all aspects.

[2017-02-26 17:48] #2 closed

[2017-02-26 17:49] SaraVieira commented on #43
I'll create an issue for the Regression tests and assign it to me, because I have been meaning to play with that for a while

@patrick1011 if you are still working on those mocha tests as unit tests that would be awesome and them I'll start on the CSS tests from the redesign branch

@joshghent

[2017-02-26 17:51] SaraVieira opened #78 "Create CSS Regression tests"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description

Create regression tests to test when someone makes any changes it does not break the layout

Also add this to Travis and pre push hooks alongside with lint

[2017-02-26 17:53] SaraVieira commented on #66
@joshghent please add both issue of the tests here please :happy

[2017-02-26 17:56] joshghent commented on #43
Sounds good @SaraVieira. Look forward to hearing about your progress.

[2017-02-26 17:58] joshghent commented on #64
@siddharthkp Have you had chance to look at this at all?

[2017-02-26 18:03] joshghent commented on #25
Ok going to close this issue off for now.
Thank you @MorrisB-- @uzluisf and @SaraVieira for your designs.

[2017-02-26 18:03] #25 closed

[2017-02-26 20:03] SaraVieira commented on #63
As discussed previously I created a pre-push with grunt test, when we add more tests we just need to add them to that task
https://github.com/esfiddle/esfiddle/pull/79

[2017-02-26 20:20] siddharthkp commented on #64
Yes! I have it all set up, and have made some progress as well

[2017-02-26 22:32] SaraVieira commented on #64
@siddharthkp Any help you need just let us know

[2017-02-26 23:14] #56 closed

[2017-02-26 23:21] #63 closed

[2017-02-27 17:15] SaraVieira commented on #73
Hello @Kashyap12 ,

Are you still working on this ? 😄

[2017-02-27 17:23] SaraVieira opened #82 "Redesign Blog Area"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description

Redesign all the blog area because for now poet does not have any styles

[2017-02-27 17:26] SaraVieira opened #83 "Redesign Unauthorized Page"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description

Create a design for login/Unauthorized as currently there is none

[2017-02-27 17:59] siddharthkp opened #85 "Use template literals for cleaner examples code"
#### Type of issue
- Bug
- [x] Idea/Suggestion
- Question

#### Description (include any screenshots or debugging information if applicable)

For examples, there are code samples that are copied. The code for copying these look something like this:

[code]

As you can see there are commands that are joined into a string and returned. The readability of this can be enhanced by using template litera

[2017-02-27 18:00] siddharthkp commented on #64
Opened a related issue: https://github.com/esfiddle/esfiddle/issues/85

[2017-02-27 18:22] joshghent commented on #85
@siddharthkp Great idea! Thanks a lot!

We will be accepting PR's on this from anyone! Let me know if you need any help.

[2017-02-27 18:58] #64 closed

[2017-02-27 19:01] shaktisri commented on #85
Hi,
 I would like to work on this. Can I give it a go?

[2017-02-27 19:04] shaktilucifer commented on #85
Hi,
I would like to work on this. Can I give it a go?

[2017-02-27 19:14] joshghent commented on #85
@shaktilucifer Absolutely! All yours friend! We'd be happy to welcome your PR 👍
Please keep us up to date and let us know if you need any help 😀

[2017-02-27 19:15] #49 closed

[2017-02-27 19:15] #82 closed

[2017-02-27 19:16] shaktilucifer commented on #85
@joshghent  I did a pull with the recent changes to test the examples. The examples drop down does not seem to populate with values now. Is this a bug ?

[2017-02-27 19:17] joshghent commented on #85
@shaktilucifer Try and pull it down now. It was broken briefly in a pull but it should be fixed now.

[2017-02-27 19:24] shaktisri commented on #85
Alright awesome . Thanks. I ll check it out

[2017-02-27 19:26] #83 closed

[2017-02-27 22:36] SaraVieira commented on #23
I think this is a matter of updating jsHint from what I have tested, maybe include it as a node module and get it from there instead of from the libs

[2017-02-28 04:53] Kashyap12 commented on #73
@SaraVieira yes

[2017-02-28 05:23] Kashyap12 commented on #73
@joshghent Hi Josh, I ve started working on this issue, but need help as I am a bit new to OSS ans JS, please let me know if we can have a chat.

[2017-02-28 20:53] csdeshpande19 commented on #74
Hi. I'm a newbie. Can you help me. I would like to contribute.

[2017-02-28 20:57] csdeshpande19 commented on #53
I would like to help. Its my first PR so can you please guide me through. @SaraVieira @joshghent

[2017-02-28 22:44] #85 closed

[2017-02-28 23:12] SaraVieira commented on #74
Hello @csdeshpande19 ,

It's awesome you want to help 🎉

If you want to add more examples just head over to websites like:
[https://github.com/vasanthk/es6-examples](https://github.com/vasanthk/es6-examples) and get some exmaples there.

To add it to the site you can clone the repo and then in the src/examples folder there is a ton of examples you can see. Simply add new ones with that structure .

[2017-02-28 23:13] SaraVieira commented on #55
@amandaporto Are you still working on this ?

[2017-02-28 23:16] SaraVieira commented on #53
Hello @csdeshpande19 ,

This one is a big one and there is still some designing to do so I would start by adding some examples to get started into the open source world 😄

Thank you again man

[2017-02-28 23:53] amandaporto commented on #55
Yes @SaraVieira! This past weekend was a bit busy. Will try to get it done asap.

[2017-03-01 00:09] SaraVieira commented on #55
Awesome 🎉

And don't worry, you have time 😄

[2017-03-01 04:43] csdeshpande19 commented on #74
OK Ill start working on this today. Ill make a PR then !

[2017-03-01 04:44] csdeshpande19 commented on #53
Yea no problem :)

[2017-03-01 12:50] vcapretz commented on #73
@Kashyap12 what's your doubt? try to explain here and I'll try to help you

[2017-03-02 05:07] Kashyap12 commented on #73
@vcapretz so I hv one doubt ,in the break up of the app.js script,the 1st point is ,Main page route  (embeded and regular),I am nt sure what is embeded and regular.

[2017-03-02 12:04] vcapretz commented on #73
@Kashyap12 I think it makes sense to put the "embed" routes (they are using Regular Expressions), the authenticated/ route and the ones that have comments starting with "// This one is matching ...".

Not every page will need to have all of that imports, probably just the main page route!

(if you need an example, that a look here: https://github.com/vcapretz/task-manager/tree/master/routes, it wa

[2017-03-02 18:08] joshghent commented on #73
@Kashyap12 @vcapretz Yeah I would split the routes down like that.

* Authenticated routes
* Login routes (we will be adding more ways to login so will need different end points soon)
* Static pages (blog and about)
* Code pages (embedded and homepage).

[2017-03-02 20:26] asiyani opened #91 "Add line number for corresponding console.log() statement in console section."
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

Just a thought, I think we should add line numbers for corresponding console.log() statement to console page/section on right.

At the moment it looks like this....
![screen1](https://cloud.githubusercontent.com/assets/7142320/23525167/6b6e877c-ff85-

[2017-03-02 21:36] #23 closed

[2017-03-02 21:50] joshghent commented on #91
@asiyani I like the idea but the reachings of this are quite broad and could possibly produce incorrect results. In addition to this I don't think with code mirror we can actually get the line numbers out with the code. I'll have to look into this though.

Great idea! Now just to see if it's possible... at the moment. Nothing is impossible after all 👍

[2017-03-02 21:55] asiyani commented on #91
True i have no idea how we can implement this but lets see what we can do...

[2017-03-03 01:24] vcapretz commented on #55
@amandaporto hey Amanda, how are you?

just reminding you that if you need any help just let us know! thanks for working on that

[2017-03-03 12:42] amandaporto commented on #55
Should I keep the LICENSE file in the root with the README, or do you also want it inside the docs folder?

[2017-03-03 13:20] vcapretz commented on #55
@amandaporto I think you could keep the LICENSE file under the root :smiley:

in the `src` folder there's also a `examples` folder containing some JS files, those ones and the authenticated.js should be inside the `src/js` folder!

thanks for helping!

[2017-03-03 13:24] amandaporto commented on #55
You still want to keep the `example` folder, but just under `src/js`, correct? And just to double check, authenticated.js goes in that folder, but not index.js.

I should be mostly done after this. PR should be coming soon.

[2017-03-03 14:04] vcapretz commented on #55
@amandaporto yeah! that's right.

why not index.js? I think it would make sense to put it under the `src/js` folder

[2017-03-03 14:25] amandaporto commented on #55
No particular reason, it was just how I understood what you said :) PR #92

[2017-03-07 20:33] joshghent opened #96 "Add ability to make a fiddle private"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Add a new icon to the fiddle code window. The icon should be similar to the incognito man, perhaps use this [icon](http://fontawesome.io/icon/user-secret/). This option should only show to signed in users.

Make it so that when the user clicks that bu

[2017-03-07 22:09] #55 closed

[2017-03-07 22:29] joshghent opened #97 "Fix code editor syntax highlighting"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
There is a bug currently on the development branch where the code editor will not display any syntax highlighting.

[2017-03-07 22:50] joshghent opened #98 "Export as Gist"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Add a new button in the share menu to export the fiddle to a gist.

The exported gist will include a comment before it that links to the fiddle on esfiddle.
like this:
[code]

This issue will require a new route to handle api requests to share to gith

[2017-03-07 23:09] vcapretz commented on #73
I'm doing this one! will send the PR soon

[2017-03-08 22:39] #73 closed

[2017-03-08 22:55] joshghent opened #100 "Make navbar ordering consistent"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
So as we've added pages there has been mixups in pages that are on the navbar and the order of them.

The correct ordering is:
- Profile (only shown when a user is logged in)
- About
- Blog
- Login/Logout (depending on whether the user is logged in)

[2017-03-09 15:32] shaktilucifer commented on #98
@joshghent  Can I take this ?

[2017-03-09 15:54] vcapretz commented on #98
Sure @shaktilucifer! Glad to know that you are interested in helping! If you need any help just let us know!

Looking forward for you PR

[2017-03-09 17:35] BrianChen commented on #100
@joshghent Hey, I can give this a shot.

I do not see the nav bar on production build.  Is this in the next version?

[2017-03-09 17:37] SaraVieira commented on #100
Hey @BrianChen,

That is still in development so you need to build the develop branch

[2017-03-09 23:09] BrianChen commented on #100
@SaraVieira gotcha, thanks

I have cloned and have the develop branch set up locally however when I make a change to index.html in the src folder, it also changes in the index.html in the dist folder which causes ../dist/style/es6-fiddle.css?__inline=true to fail to load.

Any ideas on this?

[2017-03-11 05:11] asiyani commented on #96
I will start working on this....

[2017-03-11 12:40] SaraVieira commented on #100
Hello @BrianChen ,

It was a paths issue , it's fixed you can pull from develop now 👍

[2017-03-11 12:41] SaraVieira commented on #12
@joshghent Are we still going to do this ?

[2017-03-13 04:00] djw11192 commented on #74
Hello @joshghent.  I am looking to make my first contribution to open source.  Can I also work on adding some examples?

[2017-03-13 08:37] vcapretz commented on #74
Hi @djw11192 how are you? Sure you can add more examples! We are very excited to receive your PR!

Thank you for your support! 🎉

[2017-03-13 10:36] joshghent commented on #74
@djw11192 as @vcapretz we are still happy to accept PR's on this issue!

This is an ongoing project to provide the best example ES6 and ES7 code on the web.

We look forward to your PR 👍

[2017-03-13 16:57] vcapretz commented on #100
PR: https://github.com/esfiddle/esfiddle/pull/101

[2017-03-13 16:58] vcapretz commented on #98
@shaktilucifer how are you? Are you still working on this? If so, let us know if you need any help :smile:

[2017-03-13 17:08] vcapretz commented on #97
I'll work on that!

[2017-03-13 17:22] shaktilucifer commented on #98
Yup still working on it. Reading through the code to get a sense of how everything works. I ll hit you guys up if I am stuck somewhere. Thanks!

[2017-03-13 22:27] #100 closed

[2017-03-14 01:58] shaktilucifer commented on #98
@joshghent I think the  current build seems to have issues with login and the share button seem to be missing . It seemed fine with my older branches.

[2017-03-14 12:09] joshghent commented on #98
@shaktilucifer Hmm ok, have you tried pulling down the latest version of the develop branch? Do `git fetch origin` and then merge the develop branch into your local branch.

The share button only appears when you have saved a fiddle. The login button should be there apart from when you are logged in.

Let me know if you still run into issues and I will look into it more indepth.

[2017-03-17 11:41] HussainAliAkbar commented on #74
Hello! hope you guys are doing good.
hoping to submit a PR for this issue soon.

[2017-03-17 23:35] joshghent commented on #74
@HussainAliAkbar Brilliant! Sounds great! Look forward to it 👍

[2017-03-19 19:56] BrianChen opened #102 "Adding Title and Description to fiddles"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

@joshghent suggested that we should add a Title and Description to each fiddle.

I think one way we can do this is instead of showing a blank console when initially selecting a fiddle example, we can provide a brief description of what the example is

[2017-03-19 23:08] sanggonlee commented on #74
Hi,
I created a PR for updating the example code for promises. Let me know if this can be further improved or any feedback. (Also this is my first contribution to an open source project ever so please let me know if I've done something weird)

[2017-03-20 22:22] joshghent commented on #102
@BrianChen Apologies for not getting back to you on this one. Been a little under the weather! 😷

That's a great idea! I don't think we can/should do it exactly as pictured but it's a great start.

There are 2 possible solutions I have to this
1.  Have a comment block above each example like this
[code]

2. Add a new key to the window.examples called `onStart`. This would be a string of code to ru

[2017-03-20 22:24] joshghent commented on #74
@sanggonlee It looks great! Thank you very much for your submission. I'll review this code tomorrow and test it locally. Looks good though!

Take a look at our other issues in the mean time and grab anything you like!

[2017-03-21 23:58] SaraVieira commented on #12
@joshghent?

[2017-03-22 20:11] BrianChen commented on #102
@joshghent I explored the two options you mentioned.

For the first example, this is definitely an option and is easy to implement but there are a few things to watch out for.
1. Setting a max-width on the codemirror so that long descriptions would not prevent users from seeing the console.
2. Comment block may look messier than other options. Also need to manually check that the code runs everyti

[2017-03-24 04:12] Baidaly commented on #96
@asiyani Are you still working on it? If not I could work on this.

[2017-03-25 09:57] joshghent commented on #12
@SaraVieira This is quite a big job and we need to decide what monitoring we will doing. I haven't really had time to look into the full capabilities of OpBeat yet but it's on my list.

[2017-03-27 21:58] Dianna commented on #74
@joshghent would you still like more examples?

[2017-03-28 02:58] Baidaly commented on #96
It's been awhile since @asiyani started working on this. Can I have a try to work on this? @joshghent

[2017-03-28 10:52] joshghent commented on #74
@Dianna Yes that would be fantastic! We also have other issues to work on if you'd like to have a crack at those 👍

[2017-03-28 17:39] Dianna commented on #74
Great! I've made PR. It looks like people are already tackling the issues I've checked out. Want to link me to an issue that's taking longer than you expected? 😉

[2017-04-04 20:47] BrianChen commented on #102
Had some time to work on this. I decided to implement the title and description by adding an onStart to each example and running the code when an example is selected.

This is what it would look like when the example is first selected.
<img width="1280" alt="esfiddle - title and description" src="https://cloud.githubusercontent.com/assets/16259288/24641734/15ec3ed4-18d0-11e7-94cf-8f81954c79f0.png"

[2017-04-15 22:44] #74 closed

[2017-04-15 22:46] #97 closed

[2017-04-15 22:50] #96 closed

[2017-04-15 22:51] joshghent commented on #66
Ok we didn't quite get round to the front-end regression testing but we've added lots of new things! I'll close this off so we can head for the next release and get some new issues active here. Great work to everyone! 👍 👏

[2017-04-15 22:51] #66 closed

[2017-04-16 22:40] MorrisB-- opened #108 "Add how install Mongo DB and NodeJS"
#### Type of issue
- [ ] Bug
- [X] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Hello,

I think it would be helpful if the front page had a link to a section that gave some steps on how to install both of these. Maybe it could read like this:

_This guide assumes you already have MongoDB and NodeJS installed. Read this guide (lin

[2017-04-16 23:55] SaraVieira commented on #108
Hello!

You are absolutely right, I'll get on to edit the readme tommorow

Thank you

[2017-04-17 00:12] MorrisB-- commented on #108
@SaraVieira Can I try it? I have yet to install these on my end I think it'll be a good learning experience for me to make a guide while doing it

[2017-04-17 09:31] SaraVieira commented on #108
@MorrisB-- Of Course you can , all yours man :)

[2017-04-17 22:59] MorrisB-- commented on #108
@SaraVieira I submitted a pull request, please let me know what changes you'd like and I'll have it done asap, thanks!
https://github.com/esfiddle/esfiddle/pull/109

[2017-04-18 08:44] SaraVieira commented on #108
The windows steps are already done thanks to @MorrisB--  and I have done the Mac one's , if someone could do a quick tutorial on how to install mongo on linux that would be great

[2017-04-18 10:41] joshghent commented on #108
@SaraVieira @MorrisB-- Yeah great work guys. A Mac and Linux guide should be fairly straight forward (Mac it's just a bunch of brew commands really). Let's create an issue to handle a guide for each platform.

[2017-04-18 10:41] #108 closed

[2017-04-18 11:48] SaraVieira commented on #108
@joshghent Mac I already done , just need linux now 👍

[2017-04-19 00:45] MorrisB-- opened #110 "Get ESFiddle listed on fiddles.io"
#### Type of issue
- [ ] Bug
- [x ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Every fiddle but ESFiddle is listed here, lets get this listed so more people will start using ESFiddle. I can email the owner if this suggestion is approved.

https://fiddles.io/

[2017-04-20 20:02] joshghent opened #112 "Leverage the browser cache"
According to Google Page speed insights we need to leverage the browser cache for the files below.
These files can probably be added to the `app.use` route that @ironprice91 added in #51

Below is a screenshot of the files that need caching. More detail can be found [here](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fesfiddle.net).
![image](https://cloud.githubusercont

[2017-04-20 20:08] joshghent opened #113 "Avoid render blocking JS and CSS requests"
With the new redesign of the site we introduced a couple of dependancies on fontawesome and ballon.css. We need to make sure these assets are accessed async with the rest of the page and that they do not block the rendering of the page. We want to minimize network requests where available.

Along with fixing the render blocking requests, bonus points on this PR for having fallbacks for the icons o

[2017-04-20 20:20] joshghent opened #114 "Improve styling of the About page"
The styling of the about page needs improving to be more consistent with the rest of the site. Take a look at the blog to see what fonts we use for text. We will be adding more content to this page in the near future so make sure it's flexible to any amount of content.

I also noticed a slight bug when my friend was visiting the site, the footer bar of the page does not seem to be completely stick

[2017-04-20 20:24] joshghent opened #115 "Navbar inconsistent on the blog posts"
On the blog posts, the navbar does not currently show any of the signed in linked (like login, or profile/logout when you're logged in). See the page [here](https://esfiddle.net/blog/es2016-es7-final-feature-set).

These links need adding to the navbar on blog posts. The order should be the same as the homepage:
- Profile (only shown when a user is logged in)
- About
- Blog
- Login/Logout (dependi

[2017-04-20 20:34] joshghent opened #116 "Add F.A.Q of common issues and their solutions to the contributors guide"
There a few common problems people encounter when first getting started with contributing on the project. For example if you clone the repo down and run `npm start` it will throw an error which does not point to an obvious solution (`npm install` in this case).
The worst offender here is when you have not started mongodb in another terminal tab and it throws a really random error about sockets or

[2017-04-20 20:37] joshghent opened #117 "Improve the visibility of the divide between the code and console window"
Very small one here, there is a divide between the code and console window. However, when the theme colors match (either dark and dark or white and white) then the divide is difficult to define. And since we have a feature to resize the windows, this function is not very apparent.

The solution here is to make the line visible but not too bright as to detract attention from the rest of the site.

[2017-04-20 20:39] joshghent opened #118 "Change the favicon for the blog"
Pretty small one here, the [blog and blog posts](https://esfiddle.net/blog) still have the favicon for the old logo.

The solution here is to point the favicon path to the new favicon that is used by the homepage, about page, profile etc.

If you need any help with this issue then please let us know. We'd be happy to help. You can also check out our [contributing](https://github.com/esfiddle/esfid

[2017-04-20 20:45] joshghent opened #119 "Make esfiddle profiles publicly accessible"
We want to make esfiddle profiles accessible to anyone so they can see each others fiddles.

This will require new API methods and routes to get a unique URL for each user (I recommend we use the mongo _id that is assigned to each user record.

We also need to add extra logic to the profile page to make sure that private fiddles are not shown in the users list of fiddles if they are not logged in

[2017-04-20 20:46] joshghent opened #120 "Roadmap 4.0.0"
# 🚀 So that's a wrap on the 3.0.0 release!

Well done to all those involved. I'd like to welcome a load of new maintainers to the project who I can't thank enough for their hard work and effort on the project.

@asiyani
@ironprice91
@vcapretz
@SaraVieira

The big striking feature for 3.0.0 was a brand new redesign done by @SaraVieira . There was also the login with github system that was by @asiya

[2017-04-20 21:13] asiyani commented on #102
Hi @BrianChen Thank you very much for working on this. Its looks good for examples fiddle.

We also looking for something similar for all fiddles. We need input from user regarding Title and description while saving fiddle.
This will require some front end and back end changes, but if you want you can work on front end side of it and I will look in to backend.

Front End work requires:

- Deciding

[2017-04-21 10:09] madhankumar028 commented on #114
@joshghent I will work on this. Will let you know if I need any support.

[2017-04-21 22:37] xianrusso commented on #115
Howdy!
I'd love to take this on.

Upon an inspection with dev tools, it seems the nav contains the same content as it does on other pages, so it's very perplexing why the "Login/Logout" isn't showing up specifically for the blog post... seems like a fun challenge!

[2017-04-22 15:47] joshghent commented on #115
@xianrusso Huh interesting, thanks for looking into that. Because those buttons are shown dynamically then it might be worth looking into what the authentication api is returning to those blog post pages, perhaps it wasn't added. If you need help @asiyani is probably your man as he did all the authentication stuff.

[2017-04-22 19:46] #91 closed

[2017-04-26 17:38] #118 closed

[2017-04-27 13:16] ageddesi opened #123 "Improve Small Screen Support"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
We need to improve the new design to work on smaller screens and mobile.
As you can see a scroll gets attached to the menu and there is a white gap.

![screen shot 2017-04-27 at 14 14 49](https://cloud.githubusercontent.com/assets/1301564/25484993/165

[2017-04-27 16:05] SaraVieira commented on #123
Hello @ageddesi,

How could I miss that? Shame! I will get cracking on that :)

Thank you

[2017-04-28 06:57] ageddesi commented on #123
@SaraVieira I do frontend all day long and I always miss something lol. :)

[2017-05-02 02:01] jaycobbcruz commented on #117
Hello @joshghent . Can have this work? Please see screenshots taken after updating few lines in less.

<img width="1270" alt="screen shot 2017-05-02 at 9 57 01 am" src="https://cloud.githubusercontent.com/assets/25121666/25601325/cf6f690e-2f1d-11e7-9e5c-89509e24a693.png">
<img width="1266" alt="screen shot 2017-05-02 at 9 57 22 am" src="https://cloud.githubusercontent.com/assets/25121666/25601328/

[2017-05-10 15:24] orcutt989 commented on #117
@joshghent Looking for new projects to contribute to, but it looks like this one is resolved.

[2017-05-10 17:00] orcutt989 commented on #113
@joshghent I'd love to do this one. Not sure where to start though...

[2017-05-11 20:04] joshghent commented on #117
@jaycobbcruz Looks good! Submit a PR and we can review the code! Thanks for your work! 🎉

@orcutt989 Yes looks like it! We have lots of other issues you can sink your teeth into. Or suggest a feature/bug fix! We are always looking for new tests for our code base, that's a good place to start!

[2017-05-11 20:07] joshghent commented on #113
@orcutt989 Thanks for looking to help out. [This](https://developers.google.com/speed/docs/insights/BlockingJS) is a good place to start to read up on the issue.

The fix is to make sure that css is inlined into the page. Perhaps we don't need all of ballon css? In addition, the JS should be moved to the bottom of the page, below the closing body tag, therefore it won't block the paint of the page

[2017-05-11 20:55] orcutt989 commented on #113
@joshghent Which page needs the changes?

[2017-05-11 21:02] joshghent commented on #113
@orcutt989 I believe just the homepage, but others may need changing also. Check them out on google PSI 👍

[2017-05-16 19:04] VijayVj7 opened #125 "Issues to start the project."
#### Type of issue
- [x] Bug- Unable to start the project
- [x] Idea/Suggestion-I'm stuck at mongod --dbpath c:\data\db
- [x] Question--How do I proceed further

#### Description (include any screenshots or debugging information if applicable)
I'm stuck at
![image](https://cloud.githubusercontent.com/assets/18487229/26122875/98bfb4de-3a96-11e7-9b40-4ce60402e257.png)

Step: my dbpath is C:/data/db

[2017-05-16 19:11] joshghent commented on #125
@VijayVj7 Hi there, Thanks for the suggestion! We are looking to improve our documentation in the near future.
From looking at this image, it appears to be just kicking up a warning. If you check the penultimate line it says `Waiting for connections on port 27017` which is correct. Try opening a new terminal window and run `npm start` and see if it works. If not, screenshot it and post it here.

[2017-05-17 18:04] VijayVj7 commented on #125
Step 1: Opened Git Bash,
           run  -->    mongod dbpath c:/data/db

![image](https://cloud.githubusercontent.com/assets/18487229/26168617/56fcb214-3b58-11e7-9b83-3b618c40b5c8.png)

Step 2: Open a new terminal window and run npm start.Error was thrown.
![image](https://cloud.githubusercontent.com/assets/18487229/26168870/52836a88-3b59-11e7-815e-ed56b7a58381.png)

Could you just help me out :(

[2017-05-17 22:20] joshghent commented on #125
@VijayVj7 First of all, nice computer name you got there 😅

It looks like your running npm start in your root directory. Make sure you are `cd`'ed into the project folder and **then** run `npm start`

[2017-05-18 18:05] VijayVj7 commented on #125
Step 1:when running mongod --dbpath c:/data/db

![image](https://cloud.githubusercontent.com/assets/18487229/26216660/867e3e48-3c22-11e7-9e0d-4604ce1145ea.png)

Step 2: path is "cd [project root directory]" and ran " npm start" following error is displayed.
![image](https://cloud.githubusercontent.com/assets/18487229/26216632/6bc65374-3c22-11e7-9bb6-4ddc8e4953bf.png)

Damn!! I'm so frustrated that

[2017-05-18 18:30] asiyani commented on #125
Error message on last screen shot is becz its unable to find "load-grunt-tasks".
1 ->  in package.json file you should have `"load-grunt-tasks": "^3.5.2"` in devDependencies.
2 -> Did you got any error message when you did npm install in esfiddle directory?
3 -> Do you have folder called "load-grunt-tasks" in to your "node_modules" folder ?

Solution -> I would suggest Delete node_modules folder.,

[2017-05-18 20:11] joshghent commented on #125
@VijayVj7 Getting frustrated at us and yourself will not help anything. Please be constructive with your responses.

Make sure you have followed our setup guide. Did you run `npm install` in the project directory before running `npm start`? If you have then follow as @asiyani has said.

Either way, review the[ setup guide](https://github.com/esfiddle/esfiddle/blob/develop/docs/CONTRIBUTE.md) pleas

[2017-05-19 04:36] VijayVj7 commented on #125
Well I was never frustrated on you ppl, I knew that I was doing some
mistake and I don't know where I was missing it. I will try it again.

On May 19, 2017 1:41 AM, "Josh Ghent" <notifications@github.com> wrote:

[2017-05-20 02:34] VijayVj7 commented on #125
Hi All,
Finally got it brother..!!
I am so thankful to Asiyani, Ashok and Josh for helping me out!!

On Fri, May 19, 2017 at 10:06 AM, Vijay Kumar <vijaycsemvgr@gmail.com>
wrote:

[2017-05-20 08:03] VijayVj7 opened #126 "navigators are using different font family when when navigated from About -> Blog"
#### Type of issue
- [1 ] Bug
- [x] Idea/Suggestion--We need to make them consistent
- [x] Question--Is this a valid bug?

#### Description (include any screenshots or debugging information if applicable)
Screenshot:
![image](https://cloud.githubusercontent.com/assets/18487229/26274164/ca460720-3d60-11e7-8225-6cb8c9756a27.png)

When navigated to blog
![image](https://cloud.githubusercontent.com/as

[2017-05-20 17:06] joshghent commented on #126
@VijayVj7 Good spot! Yeah go ahead. Make sure all the navbars have the same font as on the blog - I think I like that better.

[2017-05-22 19:21] VijayVj7 commented on #125
I've made a pull request with command "$ git push --set-upstream origin
add-vijay-kumar" which is the last command.Is there anything else I should
do? and when will merges will happen to master branch
I have few questions to ask
1)I couldn't those changes in my git hub fork why?
2)Am I doing the PR process correct?

Please revert back !!
Thank you

On Sat, May 20, 2017 at 8:04 AM, Vijay Kumar <vij

[2017-05-22 19:22] VijayVj7 commented on #125
I've made a pull request with command "$ git push --set-upstream origin
add-vijay-kumar" which is the last command.Is there anything else I should
do? and when will merges will happen to master branch
I have few questions to ask
1)I couldn't see those changes in my git hub fork why?
2)Am I doing the PR process correct?

Please revert back !!
Thank you

On Sat, May 20, 2017 at 8:04 AM, Vijay Kumar

[2017-05-23 06:23] rosnovsky commented on #116
Let me take this, @joshghent. Any specific requirements, formats or conventions to follow here?

[2017-05-23 10:08] joshghent commented on #116
@rosnovsky Nope not really. Make it easy to follow and presentable. Feel free to use screenshots or any other material you feel will help (for example you could include a further reading section or something).

Thanks a lot for looking into this!

[2017-05-23 16:58] JeffKandel commented on #119
Hiya,

I would like to take a look at this issue.  I have a vacation next week and was hoping to dive in then. Is that cool?  I have taken a look at the CONTRIBUTING.md and will post any additional questions when they come up.

[2017-05-23 19:51] joshghent commented on #119
@JeffKandel Sure thing dude, we'd be happy to have your help! Have a great vacation! 🏖

[2017-05-24 19:36] asiyani commented on #125
Hi @VijayVj7
Please check comments on PR for an update.

Regarding Questions about PR Process.
They way I do this is first I will commit all changes to into my fork, push it on GitHub and then submit PR via GUI on the website.

Thank you.

[2017-05-25 17:17] #125 closed

[2017-05-30 23:27] piyush7749 commented on #114
@joshghent Looks like this issue is still open. Can I work on this? I am looking for a beginner friendly bug to get started in contributing to open source projects!

[2017-06-02 20:48] #119 closed

[2017-06-02 20:57] #117 closed

[2017-06-04 15:51] asiyani commented on #126
I think this one is now fixed after #128
@joshghent could you please re-test just to be sure and close this issue.

[2017-06-04 15:56] asiyani commented on #123
@joshghent I am not able to replicate this issue. I think this one is fixed.

[2017-06-04 16:17] asiyani opened #131 "UI improvement ideas"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
To prepare for 4.0 #120, we need to make some UI changes.
For this issue, we are just looking for some suggestions or mockups.

What we need:
  1. All existing console buttons.
![image](https://cloud.githubusercontent.com/assets/7142320/26763308/c5c36

[2017-06-06 11:08] harshaiitr commented on #116
@joshghent I will like to work on this if the issue is yet not fixed and this will be my first contribution in open source.

[2017-06-06 11:13] asiyani commented on #116
@harshaiitr Ya please go ahead, this one is all yours.
Let us know if you need any help.
Thank you.

[2017-06-06 17:16] joshghent commented on #116
@harshaiitr Yeah sounds great, we'd love to have your help!

I wrote some content for this page but forgot to post it here. Feel free to use it and/or add to it!

[2017-06-06 20:53] evanscloud commented on #114
@joshghent first timer here, am I able to work on this or is it taken? If it's still open, I'd like to work on this.

[2017-06-06 21:14] joshghent commented on #114
@evanscloud All yours friend! Let us know if you need any help.

[2017-06-07 21:06] JeffKandel commented on #112
I am going to take a look at this issue over the weekend and next week.  I've been reading about service workers lately and would like some practical experience.

[2017-06-09 20:18] collinmesser commented on #113
@joshghent Looking for my first OSS pull request. I can knock this out if it's still open? I joined the gitter as well.

[2017-06-12 14:31] rodolv1979 commented on #115
Hallo @joshghent,
if this is still open I would be happy to take a look at it.
Thanks
Rodolfo

[2017-06-12 17:33] asiyani commented on #115
Sorry @rodolv1979  this one is already fixed. Thank you for taking interest in esfiddle. There are other issues open have a look. let us know if you can help.
if any issue let us know.
Thank you. 👍

[2017-06-12 17:40] #114 closed

[2017-06-12 17:45] rodolv1979 commented on #115
Ok @asiyani, thanks, even tough the project that I have cloned is still having this problem in the Blog page.  I will work on it for exercise.
This is a really great project! I would be really happy to participate (that would be my first PR), I will take a look to the current issues for beginners/first timers only. If you have something in mind I am here, do not hesitate to contact me.
Cheers
Many

[2017-06-12 17:51] asiyani commented on #115
I have just merged new PR regarding Blog and About page issue. please update your repo and still, an issue let me know.

[2017-06-12 18:30] rodolv1979 commented on #115
Sorry but I am having few problems with Mongo.
Unfortunately the issue seems still there, here is a screenshot.
Am I making something wrong? Which branch should I pick up? Master or Develop?
Thank you
![screenshot from 2017-06-12 20-27-01](https://user-images.githubusercontent.com/18237060/27048910-dfa80e4c-4fad-11e7-950f-052cb7d31baf.png)

[2017-06-12 18:34] asiyani commented on #115
You should clone develop branch.
![image](https://user-images.githubusercontent.com/7142320/27049081-1fdedc1e-4fa6-11e7-85b6-5c6cac9ea27b.png)

[2017-06-12 18:48] rodolv1979 commented on #115
Yes I did it from develop branch but probably I misunderstood initially the bug/issue. If you click on the first post of the Blog page, in the new page  the nav-bar will not display anymore About Blog Login but just About Blog (like my picture). I thought that was the problem to be fixed.

[2017-06-12 20:01] asiyani commented on #115
@rodolv1979 I am sorry. you are right it doesn't work when we click on blog. Please look into this for us. I am reopening this issue.
Thanks...

[2017-06-12 20:34] evanscloud opened #135 "Footer doesn't stick to the bottom of blog page"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

![footer issue](https://user-images.githubusercontent.com/15055726/27053873-f3fe7f96-4f8c-11e7-932f-cd01e2ca601c.jpg)

While working on issue #114, I noticed that, as the resolution gets larger, the footer doesn't stick to the bottom of the page.

[2017-06-12 21:33] rodolv1979 commented on #115
@asiyani it will be a pleasure! How much time do I have? I will start tomorrow evening, doing it at my best. I hope it is enough.
Thank you

[2017-06-12 21:44] asiyani commented on #115
Hey
Take your time, there is no rush.
Thank you.

On Mon, 12 Jun 2017, 10:41 pm Rodolfo Marraffa, <notifications@github.com>
wrote:

[2017-06-13 11:35] joshghent commented on #135
@evanscloud Thanks for reporting this. Good spot! Feel free to work on it if you want 👍

[2017-06-14 15:25] JeffKandel commented on #98
@joshghent I am going to work on this issue.  I see there was some previous work on it, so if anyone would like to check in with me, I'm available on gitter!

[2017-06-15 19:09] rosnovsky commented on #116
Could someone pleas take a look at #137? I'm not sure it's what's expected. Also, I apologize that it took me so long to actually get started :(

[2017-06-19 10:09] ahmadtirmazi commented on #123
Hi @joshghent,

I am able to reproduce the scroll bar appearing in menu bar.

I am new to this project and want to take on this as my first bug.
Please let me know if I should work on this.

[2017-06-19 10:22] joshghent commented on #123
@ahmadtirmazi Yeah we'd love to have you work on this issue. That would be a great help to the project! 🎉

Let us know if we can help 👍

[2017-06-19 10:35] #135 closed

[2017-06-19 20:26] #112 closed

[2017-06-19 20:31] joshghent commented on #110
@MorrisB-- Great idea! Thank you! I've messaged the developer of the site so I'll see if he get's back to me! 👍

[2017-06-19 20:36] joshghent commented on #116
Hey @rosnovsky I've merged that for you now. Looks great, thanks for the work.

We will continue to add to this document so we will still take PR's for it.

If you are able perhaps look into writing answers for the following questions
- What is the error I get when starting the server without mongo open and how can I fix it?
- My code has failed on TravisCI, how can I fix and test changes quickly?

[2017-06-20 20:32] ahmadtirmazi commented on #123
@joshghent, I am having trouble while trying to run in my local environment.
I have followed the instructions explaining the steps to configure local environment and configured NodeJS and MongoDb.

To start the project, I run "mongod" and in another command prompt "npm start".
However, I get following error

![image](https://user-images.githubusercontent.com/16874651/27354460-134cf2a2-5621-11e7-8b

[2017-06-20 20:45] rosnovsky commented on #123
Hi @ahmadtirmazi,

Could you please make sure you point MongoDB to wherever your database is? I've experiences similar problem when my db folder was set incorrectly (specifically, the db path on my Mac was not set to /usr/local/var/mongodb.)

https://github.com/esfiddle/esfiddle/blob/develop/docs/FAQ.md#ive-got-some-mongoerror-messages-and-esfiddle-doesnt-load

[2017-06-20 20:46] rosnovsky commented on #123
Hi @ahmadtirmazi,

Could you please make sure you point MongoDB to wherever your database is? I've experiences similar problem when my db folder was set incorrectly (specifically, the db path on my Mac was not set to /usr/local/var/mongodb.)

https://github.com/esfiddle/esfiddle/blob/develop/docs/FAQ.md#ive-got-some-mongoerror-messages-and-esfiddle-doesnt-load

[2017-06-20 21:09] asiyani commented on #123
Hi, @ahmadtirmazi  You might get this error if you don't have  `.env`  file in your root directory. please rename `sample.env` to `.env` if you don't have one already.

[2017-06-20 21:47] joshghent commented on #123
@asiyani Let's add this to the FAQ

[2017-06-21 11:22] satyadeeproat commented on #116
Hi @joshghent , just installed the esfiddle from scratch. Didn't find any problem as such. The documentation was up to the mark. Just one thing. Can we update the GETTING STARTED section in  README.md because I didn't find the npm install step in it. Well it's an obvious thing to do. But forgot to do it that time. Then I saw the contributing guide which helped me to realize that npm install is nee

[2017-06-21 15:56] ahmadtirmazi commented on #123
@rosnovsky, I had already set the correct db path.
Though, as suggested by @asiyani, renaming `sample.env` to `.env` solved the problem.

Thanks for the help guys.

[2017-06-21 20:54] #123 closed

[2017-06-21 21:04] joshghent opened #141 "Optimize profile for mobile"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

The profile needs a redesign especially considering it doesn't look very good on mobile and on desktop I don't think it uses the space as well as it could. Go wild with this one and be adventurous! Idea's are encouraged even if you cannot implement i

[2017-06-21 21:06] joshghent commented on #116
@satyadeeproat That's a good idea. I'll do that. Perhaps we can add it to the npm prestart.

[2017-06-23 20:31] colinxr commented on #141
Hey is this still open? I'd like to take a stab at it!

[2017-06-23 22:02] joshghent commented on #141
@colinxr Sure go for it! We'd be very grateful for your help.

[2017-06-24 14:13] satyadeeproat opened #142 "Drop down from setting icon is hiding in mobile view"
#### Type of issue
- Bug

#### Description (include any screenshots or debugging information if applicable)
I just checked the mobile version of the site and the setting icon drop down was hiding behind the code section.
![screen shot 2017-06-24 at 7 18 48 pm](https://user-images.githubusercontent.com/10433604/27509235-dc8d6b50-5915-11e7-92c5-7590dcf4aebd.png)

I also tried checked on the mobile t

[2017-06-25 18:10] slntRohit commented on #142
Hi. I was hoping to contribute here but I think this has already been fixed by #123

[2017-07-01 06:38] youssefsharief commented on #141
Hello @joshghent,
Is this still open ?

[2017-07-01 20:37] joshghent commented on #141
@youssefsharief Yeah sure, I believe @colinxr is working on this but is busy working. Maybe get in touch with him on our gitter and see if you can assist in anyway 👍

[2017-07-02 14:41] colinxr commented on #141
@joshghent @youssefsharief Hey guys, things were basically ready – I just had not submitted the pull request. Sorry for the delay.

[2017-07-10 19:07] #113 closed

[2017-07-10 19:32] joshghent opened #145 "Blog Posts!"
We are looking for blog posts for the [ESFiddle blog](http://esfiddle.net/blog)!

Fancy writing for us?

Great, simply reply to this issue with your blog post idea - we are primarily looking for blog posts around Javascript, ECMAScript and broader subject posts about open source software (for example I might write one about running an open source project). These blog posts can be tutorial (e.g., h

[2017-07-12 10:17] zamhaq commented on #145
hey I would like to write a blog post about es6 features ? Would it be helpful?

[2017-07-12 17:11] joshghent commented on #145
@zamhaq Yeah that sounds great. We already have @SaraVieira writing an article on the spread operator but you're article would be most welcome!

Perhaps suggest where people could use these new feature! Practical application is always helpful to people (or at least me 😄)

[2017-07-16 18:23] JeffKandel opened #146 "Starred fiddles list appearing twice on profile page"
#### Type of issue
- [X] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

When a user logs in, the starred fiddles list appears twice on the profile page.

The second time it is misspelled.

Screencast here: https://screencast.com/t/k8QvpdclIUb

[2017-07-17 01:55] Logan1x commented on #146
So should it be once or spelled correctly? @JeffKandel.

[2017-07-17 04:59] JeffKandel commented on #146
One time and spelled correctly would be best.

[2017-07-17 05:10] Logan1x commented on #146
@JeffKandel Can you give me some idea for starter i dont know js.

[2017-07-17 08:29] zamhaq commented on #146
@JeffKandel I would like to work on the issue but I am not able to reproduce the error.
![prof](https://user-images.githubusercontent.com/20766601/28260322-22704702-6af8-11e7-980f-639e1f62f236.png)

[2017-07-17 14:22] JeffKandel commented on #146
@zamhaq, I think this is what the profile should look like.

Can anyone else reproduce this issue or is it only me?

Here is a new screenshot with the URL I am on.  I was in Chrome for the earlier screenshot.  This second screenshot is in Firefox.  Let's include the URL and browser info going forward so we can ensure we are looking at the same thing.

https://screencast.com/t/OwjtjqVfI1

[2017-07-17 14:34] JeffKandel commented on #146
@Logan1x, welcome to esfiddle!   To get started, I would do the following things:
1)  Try to reproduce the issue.  If you aren't able to, please let us know.
2) Check out the file in the repo at /docs/CONTRIBUTING.md this will help you set up your dev environment.
3) If you ARE able to reproduce the issue, I suspect it will be a problem in the /views/profile directory so I would look there to see

[2017-07-17 15:08] zamhaq commented on #146
@JeffKandel Ok. I can see it now. Strange why the bug was not showing up earlier.

[2017-07-17 15:23] Logan1x commented on #146
@zamhaq  you should ask in their gitter group.

[2017-07-17 16:03] zamhaq opened #147 "More descriptive Getting Started guide"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
I think the getting started guide should include
`npm install` as a required step before `npm start`.
I think it will be less error prone for beginners.

[2017-07-18 02:08] JeffKandel commented on #146
@zamhaq there is a file called sample.env in the repo.  If you open it up it included some information about logging in on your local environment.  I found it hard to find as well, but once you follow the instructions you're good to go.

[2017-07-18 02:56] zamhaq commented on #146
@JeffKandel Do I have to register the application with github ? Only then can I get the github client ID and client secret right ? Or is there any other way ?

[2017-07-18 03:02] JeffKandel commented on #146
Yep, you'll have to register an OAuth app. Here are the options I used:

App Name: esfiddle
Homepage URL: http://localhost:3001
Authorization callback URL: http://localhost:3001/auth/github/callback

[2017-07-18 03:09] zamhaq commented on #146
@JeffKandel So, the callback URL should be that same localhost with "/auth/github/callback" exactly?

[2017-07-18 03:15] JeffKandel commented on #146
Yep, the same values I used should work...  I'll check in tomorrow morning in case there are additional questions!

[2017-07-18 04:26] zamhaq commented on #146
@JeffKandel I tried as you suggested but getting this error
`InternalOAuthError: Failed to fetch user profile
    at /home/zams/esfiddle/node_modules/passport-github2/lib/strategy.js:96:19
    at passBackControl (/home/zams/esfiddle/node_modules/oauth/lib/oauth2.js:132:9)
    at IncomingMessage.<anonymous> (/home/zams/esfiddle/node_modules/oauth/lib/oauth2.js:157:7)
    at emitNone (events.js:91:2

[2017-07-18 07:36] zamhaq commented on #146
@JeffKandel I solved the issue for wrongly spelled issue though could not reproduce that double starred fiddles in local environment. Should I submit a PR ?

[2017-07-18 09:29] joshghent opened #148 "Specify engines version in packagejson"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
With the new batch of [security releases](https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/) from NodeJS, we need to specify the versions of node we use in the package.json file. This can be done under a label of "engines".

We nee

[2017-07-18 13:07] JeffKandel commented on #146
Hey Zameer,

I think so.  If nothing else, we have fixed the misspelling.  If everything passes, I'll take a quick look through things to see if I can reproduce the issue on my local machine.  Thanks for the help!  I'll leave some comments in the PR too before we merge.

Jeff

[2017-07-18 13:13] zamhaq commented on #146
Hey Jeff,
Should I submit my PR then?

[2017-07-18 13:17] JeffKandel commented on #146
Yep!

[2017-07-18 15:46] #146 closed

[2017-07-18 15:54] #147 closed

[2017-07-19 01:31] austinjcheng commented on #148
I attempted this as best as I could, but I'm not fully confident in the labels that I used. I was also unsure of how to fully complete the pre-submission checklist. If any changes are needed please let me know.

[2017-07-19 05:44] amatranga opened #153 "Linting errors in default examples"
#### Type of issue
- [X] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
There are a few linting errors in some of the default examples.

ES6 Map

![image](https://user-images.githubusercontent.com/24361338/28351902-e38621d6-6c07-11e7-8faa-1e0413407c7b.png)

ES7 Array Includes: Search From Index

![image](https://user-imag

[2017-07-19 18:12] vcapretz commented on #153
Hi @amatranga, feel free to send the PR!

[2017-07-20 01:14] babzcraig commented on #131
Hello guys, I'd like to take a stab at this if it is still open. How do we submit our ideas? I am able to use Sketch to create mockups if needed.

[2017-07-20 14:19] vcapretz opened #156 "Running eslint on server throws a lot of errors"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
I just realized that we have eslint setup but we don't actually included it in the `test` command.

I ran `./node_modules/eslint/bin/eslint.js server/**` and found a lot of inconsistentes.

I am already working on it but let me know if you guys have a

[2017-07-20 22:53] amatranga opened #158 "Code-base styling"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

Looking thru the code-base, there are a bunch of inconsistencies between files. For example, some files have 4 spaces of indentation while others have 2; some files use 2 new-lines between functions while others use 1; some files close scopes every n

[2017-07-20 22:56] vcapretz commented on #158
I opened an issue about the same topic today! I am focusing now on the server-side but we could also check the client side!

You can check the issue here: https://github.com/esfiddle/esfiddle/issues/156

[2017-07-20 23:23] amatranga commented on #158
@vcapretz I'm happy to take a look at client side if you'd like. I know there's a bunch of work to be done.
And I did see the issue you opened. I thought it would make more sense to open a separate issue though

[2017-07-20 23:41] vcapretz commented on #158
Ok then! ☺️ You can use this issue to work on client side then, would be happy with your help!

[2017-07-20 23:43] amatranga commented on #158
Will do! I'll start looking at the client.

Related: What do we think about adding in a style guide?

[2017-07-21 00:55] vcapretz commented on #158
How about using the eslint that is already on the project setup? It extends the airbnb pattern.

Another thing you could do is to check if we are using the ES6 features!

Feel free to send the PR

[2017-07-21 00:56] #153 closed

[2017-07-21 01:48] amatranga commented on #158
Good point about ES6. The guide I linked definitely does not use it.
I'll update and send along a PR

[2017-07-21 02:27] #148 closed

[2017-07-21 02:46] vcapretz commented on #110
How about this one @joshghent? We still plan to get listed on fiddles.io? Any response from the developer?

[2017-07-21 05:56] amatranga commented on #156
Related to what we were talking about in [#158](https://github.com/esfiddle/esfiddle/issues/158), I've gotten spacing issues taken care of client side. The major linting issues coming up now are related to .less files (too many !important declarations, no fallback set in addition to rgba). So I am going to go ahead and make a partial PR, and get the other linting issues taken care of in another PR

[2017-07-21 12:07] vcapretz commented on #156
it makes sense @amatranga, I saw those errors, glad that you are going to take care of it

[2017-07-21 12:12] #156 closed

[2017-07-23 04:53] zamhaq commented on #141
@joshghent Is this issue fixed or still open ? I would like to take an attempt.

[2017-07-24 18:23] JeffKandel commented on #98
Trying to think through how to authenticate as a user from our server. Will post in gitter if I remain stuck.

[2017-07-24 20:42] JeffKandel commented on #98
Solved the issues I was facing!

[2017-07-24 22:51] #158 closed

[2017-07-25 11:25] collinmesser commented on #43
@patrick1011 are you still working on this one? If not, no worries, just let us know and I will probably take it over.

[2017-07-25 12:02] #115 closed

[2017-07-26 08:44] joshghent commented on #110
@vcapretz Good point! I never got a reply back. I'll chase up and see if I can get in touch. Thanks for the reminder!

[2017-07-29 23:34] eugenefedoto commented on #78
@SaraVieira are you working on this?

[2017-07-30 20:42] lailavinson commented on #102
Hi, is help wanted with any of the items listed above? Interested in contributing.

[2017-08-01 21:41] eugenefedoto commented on #78
@joshghent any idea if I can try this? Not sure if @SaraVieira is still working on it.

[2017-08-02 20:33] joshghent commented on #78
@eugenefedoto Apologies for not getting back to you!

Yeah go for it, @SaraVieira is very busy. I've just removed her as being assigned. We'd love to have you on board helping us! We really appreciate all the help we get! 👍

[2017-08-03 23:35] eugenefedoto commented on #78
I'll look into it.

[2017-08-08 17:57] joshghent commented on #43
@collinmesser Sorry I didn't pick up on this one. I'd say that it's free game. We'd love to get this checked off!

[2017-08-08 17:58] joshghent commented on #46
@asiyani Yeah I'm happy with this approach. Is that something you or @velascoDev would be up for doing?

[2017-08-08 17:59] joshghent commented on #78
@eugenefedoto Brilliant, thank you very much for looking into this 👍

[2017-08-10 02:11] eugenefedoto opened #165 "Suggestion: change README.md so sample.env is not deleted"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Currently, the readme instructs the user to delete sample.env. This is annoying to me because then Git complains that this file was deleted and wants it to be staged. It should never be staged, otherwise it will be deleted from Github. In addition, it

[2017-08-10 04:11] eugenefedoto opened #167 "Bug: several wrong uses of ES6's object destructuring"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
I ran `npm test` and received several similar errors like
[code]
That should be const `expect = required('chai').expect;`. There were several more.

[2017-08-10 16:33] eugenefedoto commented on #167
I found out I was using an out-of-date Node v4. After I updated to v8, everything became fine.

[2017-08-10 16:33] #167 closed

[2017-08-10 18:46] isaeef commented on #12
@joshghent  is it still open?

[2017-08-10 18:46] isaeef commented on #46
@joshghent  is it still open? I am up for it.

[2017-08-12 05:50] eugenefedoto opened #168 "Developer branch missing dist/lib/babel/"
#### Type of issue
- [ ] Bug
- [ ] Idea/Suggestion
- [x] Question

#### Description (include any screenshots or debugging information if applicable)
Is there a reason why the developer branch is missing dist/lib/babel/? The master branch has it.

[2017-08-13 11:25] joshghent commented on #165
@eugenefedoto Great idea! I've seen your PR for this and will get it merged.
Thanks a lot for spotting this, good work 🎉

[2017-08-13 11:26] #165 closed

[2017-08-13 11:27] joshghent commented on #167
@eugenefedoto Thanks for looking into this, glad you got it sorted. Maybe this is something to include in the README?

[2017-08-13 11:29] joshghent commented on #46
@isaeef Yes this is still open, we would really appreciate you're help on this one! Let us know how you get on 👍

[2017-08-13 11:30] joshghent commented on #12
@isaeef Yeah this is something I've just not had time to do. We also got approved for a OS Bugsnag account but need to figure out how to configure this without more setup people have to do with api keys.

[2017-08-13 16:41] eugenefedoto opened #170 "Add Node and NPM minimum versions required to README"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Adding a quick one-liner telling the user to use at least Node v6.11.x and NPM v3.x.x sounds good. I chose Node v6.11.x due to it having the latest security updates. I'm not familiar with which NPM version would be right, or maybe it's not even needed

[2017-08-13 16:45] eugenefedoto commented on #167
@joshghent Yep. I opened #170.

[2017-08-14 10:20] joshghent commented on #168
Yes this was because I was dumb. It needs re-adding.
I was trying to remove it entirely but didn't manage it in the time I had. We need to open a new issue to get that addressed (we don't want to be including babel in the repo!)

For the time being, let's just get back the babel folder in the repo. If you would like to handle that we would be more than willing to accept a PR! 👍

[2017-08-21 09:34] Govorin commented on #116
Hi. I  want to help you, if possible. Can you give me tasks?
Im beginner and non-native english speaker.

[2017-08-31 06:22] riyaz-ali commented on #168
Won't it be better if we just serve the file from a CDN instead? It's available [here](https://unpkg.com/babel-standalone@6/babel.min.js). And to add it we just need to update the address [here](https://github.com/esfiddle/esfiddle/blob/develop/src/js/index.js#L311).

[2017-08-31 09:29] riyaz-ali opened #171 "Stored XSS vulnerability on frontend runtime code"
#### Stored XSS vulnerability
- [x] Bug
- [ ] Question
- [ ] Idea/Suggestion

#### Description
A stored XSS vulnerability that could potentially allow the attacker to execute arbitary code in the context of esfiddle. The vulnerability can simply be exploited by getting a reference to the parent window from within the *sandboxed* (or not) `iframe` context and then executing code in that reference.

[2017-08-31 09:30] riyaz-ali commented on #171
Is this already a known bug?

[2017-09-01 09:56] joshghent commented on #171
@riyaz-ali Wow, very clever! Good spot! I've seen your PR, thanks a lot for your work. We had not seen this issue before and thankfully as you say there is little harm an exploit could do - but amazing to get it fixed! So a huge thank you!

We're currently looking for maintainers to the project and think you could be a real asset to the team. I have invited you to our github organisation so you ca

[2017-09-01 09:57] joshghent commented on #168
@riyaz-ali Yes that is completely the best way to do it. I believe this is part of your PR #171 - is that correct?

[2017-09-01 12:36] riyaz-ali commented on #171
Thanks @joshghent ! would be glad to join the team :smile:

[2017-09-01 12:36] #171 closed

[2017-09-01 12:58] riyaz-ali commented on #168
@joshghent Yea I tried adding the linked Babel bundle to the iframe sandbox, but it looks like that version don't include (or maybe didn't load by default) some of the required plugins (e.g. regeneratorRuntime for Generator functions and possibly more), so instead I resorted to use the same (old) script for now. But this is certainly a good candidate for a fix!!

[2017-09-01 14:34] joshghent commented on #168
@riyaz-ali Ok, if you want to have a crack at fixing that and providing it through a CDN then that would be helpful! I remember when I tried to have a go at doing it, the issue was they didn't export a 'Babel' object which we then use internally.

[2017-09-16 04:30] phsantiago commented on #46
We can get a js file by xmlhttprequest and eval it, or create a dynamic script tag like @asiyani said

[2017-09-20 12:57] joshghent commented on #46
@phsantiago I think a dynamic script tag would work best and be most safe. `eval` scares me.

[2017-10-04 02:45] j-schuster commented on #145
Hey! If you want anything else written I would love to help out:)

[2017-10-13 10:23] jigar1101 commented on #46
@joshghent Can you please check #174
Based on the discussion you and @asiyani had, I have added this which can be improved based on your inputs.

[2017-11-09 07:26] nickinnon opened #176 "Console Logging an object/map should log the literal."
#### Type of issue
- [ ] Bug
- [ x ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

Right now, the console in the ESfiddle client prints out `[object Object]` or `[object Map]` when logging an object or map respectively.

This behavior persists for the browser's console as well, where the normal behavior would be to log the litera

[2017-11-10 09:53] joshghent commented on #176
@nickinnon Again great spot, I think there is no reason not to do this. @asiyani Have any thoughts?

How would you like to tackle this issue @nickinnon?

[2017-11-10 12:09] riyaz-ali commented on #176
@joshghent @nickinnon Not just that, the [current log capturing closure](https://github.com/esfiddle/esfiddle/blob/develop/src/views/iframe.html#L30-L57) also alter the default behaviour for `console.log()`, like if I do something like `console.log('Value: %o', { ... })`, this logs the literal value `Value: %o [object Object]` and not the expected `Value: { ... }`

[2017-11-10 20:14] nickinnon commented on #176
@joshghent @riyaz-ali Was this always the case with the console, or is this a new bug? Might be as simple as refactoring the change where the bug was introduced?

If it is not a bug; a few ideas off the top of my head:
1. We can write logic to convert objects/maps to strings like we do with Arrays [here](https://github.com/esfiddle/esfiddle/blob/5b1c0c3920375f1f87e7ef0b0090773ee2e1f951/src/views/i

[2017-12-03 13:31] #98 closed

[2017-12-22 18:35] AbubakarSaad commented on #43
Is this issue still open? or some testing still left in front-end? I would love to take a shot at it!
Abu

[2018-01-30 11:05] ageddesi opened #177 "Add ES8 examples"
#### Type of issue
- [ ] Bug
- [X] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Now that the ES8 line up is more set in stone we could start adding them in :)

[2018-01-30 11:09] ageddesi commented on #177
Here is a great list of examples.

https://hackernoon.com/es8-was-released-and-here-are-its-main-new-features-ee9c394adf66

[2018-02-05 20:18] joshghent commented on #145
@j-schuster Hey there, thank you for offering! A post on the feature set for ES8 would be very helpful! Especially as the new spec has just come out!

A few other topics could include
- How does ESFiddle work? (might be a good one to get you under the hood of the code)
- Who creates ECMAScript? (talk about the TC39 and the members, the stages system etc.)
- Is Javascript the same as ECMAScript?

J

[2018-02-06 13:58] #168 closed

[2018-02-06 13:59] #170 closed

[2018-02-06 14:07] #110 closed

[2018-02-06 14:08] #12 closed

[2018-02-06 14:09] joshghent commented on #43
@AbubakarSaad Yes sure thing! Go ahead! We'd love to have your help and would great appreciate this being done! 👍

[2018-02-06 14:09] #78 closed

[2018-02-06 14:09] #120 closed

[2018-02-06 14:10] joshghent commented on #116
Done in #173

[2018-02-06 14:10] #116 closed

[2018-02-06 14:11] joshghent commented on #131
@babzcraig Sorry for not getting back to you. If you post pictures of sketch mockups here then we can review them and get building them! Perhaps you could even take a shot at building them? We'd greatly appreciate any help here as I'm not really one for graphic design 😆

[2018-02-06 14:13] joshghent commented on #142
@slntRohit This still seems to be an issue on https://esfiddle-dev.herokuapp.com! If you'd like to take a stab at fixing it then by all means go ahead, we'd greatly appreciate your generous contribution.

[2018-02-06 14:27] #53 closed

[2018-02-06 14:28] joshghent commented on #176
@nickinnon @riyaz-ali Sorry for the late reply here guys.

I think option 2 sounds the cleanest. If you have any thoughts on what console we should go for, then please let me know. If you find one you like, go ahead and implement it! This task is up for grabs and would greatly improve the site 💯

[2018-02-06 14:29] joshghent commented on #177
@ageddesi Yes brilliant idea! This was on my radar but if you had time then we'd greatly appreciate the help in adding these quickly! 👍

[2018-02-06 14:32] #126 closed

[2018-02-06 14:42] joshghent commented on #102
@lailavinson Hi there, apologies for the late reply!
Yeah we are still looking to get this done. We need some kind of UI elements or interaction whereby you can set the title and description for a Fiddle. Is this something you think you could do? We are very open to suggestions on how this should be done. 👍

[2018-02-06 14:55] joshghent commented on #46
@jigar1101 @asiyani Updated the PR with some comments. Looks like it will need catching up with the latest version of the `develop` branch where I have fixed babel but looks great! 💯 Thank you so much for this work! 🎉

[2018-02-06 15:11] babzcraig commented on #131
@joshghent No worries, I can get to work on this over the weekend and have something for you by next week, does that work? And sure, designing and building out my designs wouldn't be a problem. 😆

[2018-02-06 15:25] joshghent commented on #131
@babzcraig Yeah that's absolute no problem, no rush! We all do this in our spare time and also have loved ones and other obligations so see them first then work on this 👍
Haha ok brilliant, look forward to seeing it!

[2018-02-06 15:30] #141 closed

[2018-02-06 23:02] joshghent opened #182 "Fix NPM Install warnings"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
We should fix these to make sure the project continues to run smoothly.

Below is a screenshot of the warnings to fix
<img width="950" alt="screen shot 2018-02-06 at 23 02 03" src="https://user-images.githubusercontent.com/2934976/35889023-ce875a46-0b

[2018-02-06 23:15] joshghent opened #183 "Add Helmet"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Add [Helmet](https://github.com/helmetjs/helmet) and set Express to use it.
This will improve the security of the application.

[2018-02-08 04:11] jigar1101 commented on #46
Great 👍

[2018-02-12 12:31] #183 closed

[2018-02-15 11:00] ageddesi opened #186 "New Design For Example Dropdown"
#### Type of issue
- [ ] Bug
- [X] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
With the growth of this dropdown. we should maybe think about breaking it into 2 parts.
1. the version
2. the example

**Current Image**
![screen shot 2018-02-15 at 10 58 40](https://user-images.githubusercontent.com/1301564/36253393-557ccc08-123f-11e

[2018-02-24 16:42] eylamm commented on #186
Hi, as a first time contributor I would be happy to take @ageddesi's suggestion as a small feature. Maybe split the current drop down list into two separate lists, something like this -

![capture](https://user-images.githubusercontent.com/18346474/36632566-db46ce30-1990-11e8-8a07-900ceecb9ec6.PNG)

@joshghent Let me know what you think.

[2018-02-26 15:20] joshghent commented on #186
@elyamm Thanks a lot for the idea, I'm happy to go ahead with this. We're going to do a little redesign of this UI but I'm pretty sure we'll have these examples here so yeah we'd love to have this as a contribution!

Thank you! ESFiddle would not be possible without contributors like you! :tada:

[2018-02-26 22:09] eylamm commented on #186
Great! I'll give it a try

[2018-03-01 20:45] #142 closed

[2018-03-08 21:20] #46 closed

[2018-03-10 13:36] eylamm commented on #186
Hey, so I am working on the ES versions drop down list as mentioned above (#186), and merging the latest changes I saw @jigar1101's awesome pull request #174 regarding the loading of external libraries.

So now the code section already has multiple selectors in it -
![dev_](https://user-images.githubusercontent.com/18346474/37242373-fc730200-2470-11e8-95d5-22e5972cd972.png)

And adding the es-vers

[2018-03-11 07:05] jigar1101 commented on #186
@eylamm Nice suggestion.
We can move the dropdown in the settings menu as @joshghent was of the idea of moving it inside the settings modal once we have that implemented.
There might be just one issue users might face related to discoverability of the dropdown. Any suggestions on how we can avoid that as the dropdown won't be discoverable unless the user clicks on the settings menu.

[2018-03-11 07:18] jigar1101 commented on #177
@ageddesi Just a suggestion, if we can automate some features of this by using just having a configuration in place from where we want the demo examples to be used.
Something from [Mozilla](https://developer.mozilla.org/en-US/docs/Web/JavaScript/New_in_JavaScript/ECMAScript_Next_support_in_Mozilla) can be use where each of its new feature has a demo [eg.](https://developer.mozilla.org/en-US/docs/W

[2018-03-11 09:06] eylamm commented on #186
@jigar1101 How about hinting the loaction of the loader in the libraries-list itself, instead of displaying
the '-' place holder. So untill the user selects a library to load, it will see -

![default](https://user-images.githubusercontent.com/18346474/37251531-7793150c-251a-11e8-9db3-77052d58308d.png)

[2018-03-11 09:08] jigar1101 commented on #186
Yes this works @eylamm
@joshghent what do you think?

[2018-03-11 17:13] #182 closed

[2018-03-11 17:25] joshghent commented on #177
@jigar1101 100% agree with this. Absolutely great idea.
I think for now we should get some manual examples for ES8 and then hopefully by the time ES9 roles around we will have this feature in. If someone wants to start working on this feature then I'd be happy to help! 👍

[2018-03-11 17:39] joshghent commented on #186
@eylamm @jigar1101 I think once we rejig where all the buttons are it will make more sense. Settings looks out of place at the moment since it is outside of the editor frame. I'm against having text on the page because it makes it look unsightly and frankly the UI should be intuitive enough not to have to do things like this.

Let's wireframe out a new UI because I want to rewrite the app in React

[2018-03-11 18:41] jigar1101 opened #190 "Automate addition of examples of future ES versions"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

Automate by having a configuration in place from where we want the demo examples to be used.
Something from [Mozilla](https://developer.mozilla.org/en-US/docs/Web/JavaScript/New_in_JavaScript/ECMAScript_Next_support_in_Mozilla) can be used where each

[2018-03-11 18:42] jigar1101 commented on #177
@joshghent Cool, I have created a different [issue](#190 ) for this automation feature.
This issue can be used to add es8 examples manually.

[2018-03-27 08:44] jigar1101 opened #191 "Fix ESLint warnings"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)

Fix eslint warnings in less and js files

[2018-03-31 10:36] joshuacrass commented on #177
@joshghent, I noticed that you already have a PR for this issue but I'd love to take this from you and add a bit more. It would be my first PR for an open source project. BTW I already forked it and started to work on it. You can check it out (feature/es8-examples) and let me know.

[2018-04-03 18:39] #177 closed

[2018-04-12 17:29] joshghent commented on #131
@babzcraig Hey there, I kind of let this issue drift but wanted to check in to see if you were doing ok with your PR and this issue? Can I or anyone else in the team help? Contact me on gitter if you need any assistance! 👍

If you no longer have time to work on it, that's fine too. We appreciate people generously donate their precious free time to this!

[2018-04-12 17:29] joshghent commented on #43
@AbubakarSaad Hey there, I kind of let this issue drift but wanted to check in to see if you were doing ok with your PR and this issue? Can I or anyone else in the team help? Contact me on gitter if you need any assistance! 👍

If you no longer have time to work on it, that's fine too. We appreciate people generously donate their precious free time to this!

[2018-04-12 17:30] joshghent commented on #176
@nickinnon Hey there, I kind of let this issue drift but wanted to check in to see if you were doing ok with your PR and this issue? Can I or anyone else in the team help? Contact me on gitter if you need any assistance! 👍

If you no longer have time to work on it, that's fine too. We appreciate people generously donate their precious free time to this!

[2018-04-12 17:30] joshghent commented on #102
@lailavinson Hey there, I kind of let this issue drift but wanted to check in to see if you were doing ok with your PR and this issue? Can I or anyone else in the team help? Contact me on gitter if you need any assistance! 👍

If you no longer have time to work on it, that's fine too. We appreciate people generously donate their precious free time to this!

[2018-04-12 17:30] #145 closed

[2018-05-07 10:37] preyneyv commented on #102
Hey @joshghent, I have some free time, and I was wondering if I could tackle the front-end changes. I've never contributed to an open-source project before, but I am fairly experienced in front-end and back-end design.

[2018-05-07 10:50] preyneyv opened #198 "Login not working?"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
The login button takes me to GitHub, where I authorize the app. But then, this happens:
![image](https://user-images.githubusercontent.com/13533898/39698462-80a010da-5212-11e8-8635-a690481d23d9.png)

[2018-05-07 15:55] preyneyv opened #199 "Async and await example seems to be broken."
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
The async/await example throws `ReferenceError: regeneratorRuntime is not defined`.
![screen shot 2018-05-07 at 9 24 49 pm](https://user-images.githubusercontent.com/13533898/39711338-18a74f86-523d-11e8-84cb-b49c62a7d61b.png)

[2018-05-08 02:39] preyneyv opened #201 "Loading libraries from CDNJS"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
I was thinking that we could allow users to load libraries from CDNJS, rather than self hosting and limiting which ones they can use. Thoughts?

[2018-05-08 02:49] preyneyv commented on #201
Whoops, my mistake. We aren't self-hosting. But still, if users could pull in a library of their choice, I think that would be a good addition.

[2018-05-08 09:43] joshghent commented on #201
@preyneyv Yes we definitely want to do this, thank you for the suggestion. We were planning on doing this along with a redesign - (basically moving fiddle settings into a tabbed modal dialog - like on Codepen for example).

If this is something you'd like to handle, then go for it! We'd love to have you on board.

[2018-05-08 11:42] preyneyv commented on #201
@joshghent Speaking of a redesign, can you please checkout #102?

[2018-05-08 11:57] preyneyv opened #202 "How is this different from JSFiddle/CodePen/repl.it?"
#### Type of issue
- [ ] Bug
- [ ] Idea/Suggestion
- [x] Question

#### How is this different from JSFiddle/CodePen?
Wanted to just raise this question, because I've explored CodePen and JSFiddle. I want to understand how this project is different. As I understand it, this will allow users to try out ES6, 7 and 8 stuff, and possibly more in the future. However, on CodePen, you can set the language

[2018-05-10 11:29] joshghent commented on #202
Hi @preyneyv, No worries on playing devils advocate, I have considered this question much myself.
In all honesty, this project was created before widespread adoption of babel. Previously it was only really available if you spun up a page yourself.

Now we are in a world where it is widely used, I wanted to transition ESFiddle into more of an educational tool by providing rich examples and content

[2018-05-10 11:30] joshghent commented on #199
Hi @preyneyv, Yes I noticed this the other day. Thanks for pointing this out.

Is this something you would like to handle? I may not have time in the coming weeks as I have had an operation on my wrist (in fact I'm dictating this! 😄)

[2018-05-10 11:34] joshghent commented on #102
@preyneyv By all means! This would be great. We are looking at rewriting this as a SPA in either React or Vue with the aim of providing an Offline-first experience. With the redesign we are looking at doing this work at the same time. Is this something you'd like to handle? (not all of it of course!)

[2018-05-10 11:36] joshghent commented on #198
Hmm, just checked the login and it works (sort of) but doesn't change the main bar to say Logout, so the site isn't saving the session. I'll have to investigate why. Thanks for pointing this out. Clearly stuff has fallen through the cracks this release!

[2018-05-10 12:28] preyneyv commented on #202
Thank you sooo much for clearing that up. I was worried that this project would become redundant, which would be a shame. That list of new features sounds interesting, can we put them on a todo list? I am certainly interested in helping this project develop, and I'm glad that my help is also wanted, since this is my first time contributing to another person's project. I'm up for doing any tasks th

[2018-05-10 12:30] preyneyv commented on #102
@joshghent I would love to work on a new design. Give me a few days and I'll send it over. Let me open that up as another issue though. The title is misleading.

[2018-05-10 12:31] preyneyv opened #205 "Website Redesign"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Opening up this issue to keep track of the mockups that I will be creating for the website redesign.

[2018-05-10 12:35] preyneyv commented on #205
So I was thinking that there should be a landing page, rather than plopping right into the editor, because as I understand it, ESFiddle will have a lot of future educational content. Plopping into the editor will result in a messy, cluttered interface.

[2018-05-10 16:17] #202 closed

[2018-05-11 11:41] joshghent commented on #202
Yeah, I will have to raise them all as issues but I want to get the rewrite done first. I think we need to start a clean branch called 'rewrite' which we can then merge back into the master and develop branches. If you want you can kick that off? I will discuss that with you on the redesign issue however.

Yes no problem on the time, all our volunteers do this lovingly in their spare time and we e

[2018-05-11 11:45] joshghent commented on #205
@preyneyv Yeah that might not be a bad idea. Although landing people right in the editor is good for return users, because our aim is on education then perhaps it would be best to run on a landing page.

I'll try and do some mockups (in pen, because I'm useless with photoshop) and post them here.

Since the redesign goes along with a rewrite into react, we will handle this under the same issue. I'

[2018-05-11 12:16] preyneyv commented on #205
Cool, I'll make some mockups too, because, more ideas = more choice.

[2018-05-11 12:56] preyneyv commented on #205
Hmm, I have an idea. We can do what [khanacademy.org](khanacademy.org) does. A safe assumption is that a returning user will be logged in. So if the user is already logged in, we can land them in the editor, and if not, we can plop them on the home page. However, we have to be mindful to keep the examples easy to navigate even from the editor. Otherwise, for a returning user to browse examples wou

[2018-05-11 12:58] preyneyv commented on #205
Ooooh or we can use the fancy History API, and have actual urls rather than fragments. So, the urls then become `esfiddle.net/editor/examples/example-name` and `esfiddle.net/editor/<username>/<fiddle-name>`.

[2018-05-11 13:05] preyneyv commented on #202
Cool, let's kick off the rewrite. I'm thinking that we should start fresh, with none of the old code. We can pull in old code where necessary, of course, but I think a full rewrite is due, especially with all these new features. With that in mind, I'm creating a new branch called `rewrite`.

[2018-05-11 13:52] preyneyv commented on #202
Actually, strike that, let's make incremental changes. Still making the new branch though.

[2018-05-11 14:00] preyneyv commented on #205
Some mockups for the header.
![header_light](https://user-images.githubusercontent.com/13533898/39928009-c00dd56c-5551-11e8-9bca-11dff2e39910.png)
![header_dark](https://user-images.githubusercontent.com/13533898/39928011-c04a90ba-5551-11e8-8114-6b55da015ee0.png)

[2018-05-11 16:03] preyneyv commented on #205
Hey guys, how's this wireframe for the landing page?
![landing](https://user-images.githubusercontent.com/13533898/39934265-e92b676e-5562-11e8-8104-4232cf3fe885.png)

[2018-05-11 16:44] preyneyv commented on #205
Also, it would be beneficial if we used a console that supported stuff like debugger hooks (not sure if this is possible) and inspection of variables post-execution (confident this is possible).

[2018-05-11 16:49] preyneyv commented on #205
Here's a mockup of what the editor might wanna look like when viewing an example. We could potentially support the ability to have comments on a selection basis, similar to Google Docs' comments. I think that would be a key differentiator and help in explaining the code. It would be super-beneficial for the examples especially.

![editor - example](https://user-images.githubusercontent.com/1353389

[2018-05-12 02:57] preyneyv commented on #205
Here's the editor with a popup for info when viewing an example.
![editor - example with info popup](https://user-images.githubusercontent.com/13533898/39952808-7c6ec72e-55bc-11e8-95d7-ac3159c5a200.png)

[2018-05-12 03:01] preyneyv commented on #205
For everything else, in my opinion, the editor only has 2 states: read-only access and write-access.
Here's the editor for read-only:
![editor - other person](https://user-images.githubusercontent.com/13533898/39952930-894b47d6-55be-11e8-9351-0e1805f9f28f.png)
![editor - other person with info popup](https://user-images.githubusercontent.com/13533898/39952929-890ba7e8-55be-11e8-9a9e-9b6d9251e65d.p

[2018-05-12 03:03] preyneyv commented on #205
When you have write access, here's what the editor should look like. Basically the same, but it has a delete button.
![editor - your own](https://user-images.githubusercontent.com/13533898/39952960-f679af32-55be-11e8-95df-799e2e12b898.png)
![editor - your own with edit popup](https://user-images.githubusercontent.com/13533898/39952962-f947f3a4-55be-11e8-836b-c3bb0e0daa1f.png)

So these are all rou

[2018-05-13 11:15] joshghent commented on #205
Wow that's amazing! Stunned! I've done some drawings which I will share which are pretty much the same! Great to see someone else come up with this!

Maybe the logo could do with a refresh too? What do you think?

What would the search box do btw?

With regards to autoplay the fiddles, yes absolutely, this was in the feature pipeline. Fiddles will autoplay onload and when someone is editing them a

[2018-05-13 12:14] preyneyv commented on #205
Thanks Josh!

The logo refresh would be cool, but I don't think it is necessary at this point. We can do it if we have free time though. The search box would allow you to search for examples and other people's fiddles by name and possibly description.

Also, I was working on a way to get debugger hooks into our console, making for a cooler development experience. What I came up with was to wrap th

[2018-05-13 14:00] preyneyv commented on #205
Code: [https://coolconsole--pranavnutalapat.repl.co/](https://repl.it/@PranavNutalapat/CoolConsole)
Demo: [https://coolconsole--pranavnutalapat.repl.co/](https://coolconsole--pranavnutalapat.repl.co/)

[2018-05-15 21:14] joshghent commented on #205
Ok yeah agreed a new logo is not needed at this point. Search box sounds good - think we may implement this after as I am not sure what the usage will be like for this. Depends on how challenging it is to implement tho.

That is an amazing demo and definitely something to implement. Looks fantastic. Well done on that 👏

JSConsole looks like a great option to use. We will use this.

So we can make

[2018-05-16 16:01] preyneyv commented on #205
Thanks Josh! Search box should be pretty simple to do, just a RegExp search on name of fiddle should suffice.

Do you want me to convert these wireframes to mockups so we have a design that we can closely stick to? I think that could speed up the design decisions that we would otherwise have to make.

Nice that we'll use JSConsole, it appears to be pretty much complete, so that's great. Can you pl

[2018-05-17 01:40] preyneyv commented on #205
Alright, I'll try to get you some mockups today/tomorrow. Thanks again! One thing that I you didn't mention is, do you want the entire website (including homepage) to be offline?

[2018-05-17 12:06] joshghent commented on #205
As far as I can see there is no library to turn code into ASCII blocks. If you can't find one, let's create a seperate repo and we can chip away at this

[2018-05-17 12:09] preyneyv commented on #205
I was thinking we could just replace the characters with the blocks, after extracting the color. If we're sticking with code mirror, then we should be able to parse the DOM to get it right? Then once we have the color and length of each segment, making it an image *should* be easy.

[2018-05-17 15:31] preyneyv commented on #205
I agree about the consistent experience thing (from your earlier comment about offline). Also, I was planning to make the mockups in Sketch, so whoever's developing the webpage doesn't have to worry about design.

I agree about the other repos. We'll use some dummy routes to design the UI, and test the API separately. PhantomJS should be able to help us in the screenshot department, but maybe we c

[2018-05-17 19:25] #190 closed

[2018-05-17 21:31] joshghent commented on #205
Yeah that sounds like a great idea mate! Sketch would be awesome and give us a good solid baseline to work towards. We will have a definition of "done" then.

Yeah that's a great idea actually! We have way more flexibility with what language we use (which I don't mind what we use). So yeah I'll create those repos now!

DM me on gitter if you want to chat a bit faster btw or fire any questions

[2018-05-18 13:38] preyneyv commented on #205
Finished the landing mockup.
Ta-da!
![landing mockup](https://user-images.githubusercontent.com/13533898/40237669-be9b3878-5ace-11e8-870a-daae0b7a9a61.png)

[2018-05-18 17:15] joshghent commented on #205
That looks awesome mate! Great job!
Reckon we should darken the ASCII blocks so they are no so bright but other than that awesome! 🔥

We also will need an arrows for those carousels!

We should make that top section perhaps a slider with the features of the editor? Like "Live linting" and "code screenshots" etc. We don't have these features yet but we will 😂 Just think the blue is a little overwhe

[2018-05-18 17:19] preyneyv commented on #205
Glad you like the design!

Oh snap I forgot the arrows on the carousels. Yeah we definitely need that. As for the top section, yeah sure we can certainly do that. I was also wondering if we could do a cool SVG animation like what's on [Electron's website](https://electronjs.org/). I think that would look sick.

The color of the ASCII blocks can be changed using any styling that is compatible with

[2018-05-19 02:32] preyneyv commented on #205
Alright, I'll start on the dummy landing page! I've pushed my design files
into esfiddle/logo, in case anyone wants to use them.

On Sat, May 19, 2018, 12:18 AM Josh Ghent <notifications@github.com> wrote:

--
=D
Pranav

[2018-05-19 02:36] preyneyv commented on #205
As for the animation, maybe we could draw in the goggles and then pulse out a bunch of keywords and syntactic features introduced in ES6. Similar to Electron's

[2018-05-19 08:48] joshghent commented on #205
Ok brilliant, sounds like a great idea. I've started work on the API so hopefully will have done hung up soon.

I've pointed the API to API.esfiddle.net
I'll publish docs on how to connect and authenticate and then you can get the routes in (even though they won't return anything)

[2018-05-19 10:02] preyneyv commented on #205
Okay cool! I've started work on the landing page.

[2018-05-22 19:14] #43 closed

[2018-05-22 19:14] #191 closed

[2018-05-22 19:14] #198 closed

[2018-05-22 19:18] #131 closed

[2018-05-22 22:11] nickinnon commented on #176
Hey there,

Anyone looking at this issue – feel free to pick it up.

There are a few obligations I am currently tied to at the moment.

[2018-05-22 22:18] joshghent commented on #176
@nickinnon I'm going to close this off for now as we are doing a massive rewrite to React and will be using a new console.
You can check it out on the react-redesign branch. Thank you for offering to help - hope to see you soon!

[2018-05-22 22:18] #176 closed

[2018-05-22 22:18] joshghent commented on #102
Doing this as part of the redesign and new API so going to close this off for now.

[2018-05-22 22:18] #102 closed

[2018-05-24 21:20] OkuboTV commented on #199
Hello, if this issue is still open, I would like to make a contribution!

[2018-05-24 23:45] joshghent commented on #199
@okubotv We'd love if you could have a crack at this! That would be fantastic!

[2018-06-06 17:53] #199 closed

[2018-06-07 12:29] ageddesi commented on #186
I would love to reopen this as a design change is definatly needed.

[2018-06-07 12:49] jigar1101 commented on #186
@ageddesi That would be great! 👍

[2018-06-08 08:56] jigar1101 commented on #205
Great Work! @preyneyv

[2018-06-08 08:57] jigar1101 commented on #186
@joshghent Would love to be a part of the backend work! Couldn't find the details on it.
Can you let me know if its a different repository or any other branch?

[2018-06-08 13:40] joshghent commented on #186
@jigar1101 repo can be found here https://github.com/esfiddle/api

Not made a huge start to it, will be fleshing out the swagger docs so we can build around that this weekend.

There is an issue in that repo that lists the routes that need to be made. If you want to tackle any then by all means please do! And ask in that repo or pm me on Gitter if you have any issues

[2018-06-11 17:42] joshghent opened #211 "Donating page"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Add a new page listing the expenses for esfiddle (~ £120 per year) then hook this up to a PayPal pot or something (this is open for discussion) to track the progress for donating.
Also on this page, link out to other software we use (Babel etc) and en

[2018-07-02 12:16] Sensational-Code opened #217 "Changing from dark mode back to light mode editor stays dark"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
If you change to dark mode then back to light mode, the theme for the editor will stay as monokai, leaving the editor dark. I believe when switching back to light mode the theme should switch back to default.
I would love to work this issue!

This app

[2018-07-14 12:18] #201 closed

[2018-07-25 05:47] joshghent opened #219 "Update handlebars and hoek"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Whilst we are still building the new react version of the site, we need to update handlebars and hoek to the latest version and do a release so the site is not vulnerable.

[2018-08-11 17:51] romcar commented on #217
Hello there,

Is there a way for me to place a debugger statement and follow the flow of the code. I am trying to tackle this problem and feel like that issue may lie within the clickEvent.js. When I place the debugger statement (or breakpoints) in the code execution continues in chrome and does not pause so I can step through. Any advice is appreciated, thanks :D

[2018-08-14 10:07] #205 closed

[2018-08-14 14:07] #186 closed

[2018-08-17 18:31] #211 closed

[2018-09-14 19:55] greenkeeper[bot] opened #227 "An in-range update of mongodb is breaking the build 🚨"
## The dependency [mongodb](https://github.com/mongodb/node-mongodb-native) was updated from `3.1.4` to `3.1.5`.

🚨 [View failing branch](https://github.com/esfiddle/esfiddle/compare/develop...esfiddle:greenkeeper%2Fmongodb-3.1.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongodb is a direct dependency of this proje

[2018-09-20 08:20] greenkeeper[bot] opened #228 "An in-range update of mongoose is breaking the build 🚨"
## The dependency [mongoose](https://github.com/Automattic/mongoose) was updated from `5.2.15` to `5.2.16`.

🚨 [View failing branch](https://github.com/esfiddle/esfiddle/compare/develop...esfiddle:greenkeeper%2Fmongoose-5.2.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mongoose is a direct dependency of this project

[2018-09-20 16:25] greenkeeper[bot] opened #229 "An in-range update of codemirror is breaking the build 🚨"
## The dependency [codemirror](https://github.com/codemirror/CodeMirror) was updated from `5.40.0` to `5.40.2`.

🚨 [View failing branch](https://github.com/esfiddle/esfiddle/compare/develop...esfiddle:greenkeeper%2Fcodemirror-5.40.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codemirror is a direct dependency of this

[2018-10-05 01:24] mrAl-x opened #231 "Font & Icons Sizes"
#### Type of issue
- [ ] Bug
- [X] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
The font size overall could be a bit bigger as well as the icons in the main navigation menu :)

<img width="1330" alt="screenshot 2018-10-05 at 02 23 12" src="https://user-images.githubusercontent.com/4906508/46511300-b59c0600-c845-11e8-90be-13f655c2

[2018-10-07 23:12] #227 closed

[2018-10-07 23:13] #228 closed

[2018-10-07 23:13] #229 closed

[2018-10-07 23:15] #217 closed

[2018-10-08 19:45] mrAl-x opened #234 "Focus Outline Invisible On Footer"
#### Type of issue
- [X] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description
The focus `:outline` is the same color as the footer background which makes it invisible when focusing the footer links. In the screenshot you can compare the footer color with the outline's

<img width="408" alt="screenshot 2018-10-08 at 20 41 42" src="https://user-images.githubusercontent.com/4906508/46630058-e97

[2018-10-09 07:51] joshghent opened #237 "Remove node 7 from support travis build and cover command"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
On the `react-redesign` branch we do not have a cover command, we need this removing from the travis build as well as version 7 of node. We should replace it with `lts/*`

[2018-10-09 07:52] #231 closed

[2018-10-09 07:53] joshghent commented on #234
Completed in #235 ! Thanks @mrAl-x

[2018-10-09 07:54] #234 closed

[2018-10-09 07:55] joshghent opened #238 "Create editor pages in React"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
We need to re-create the existing editor with a new design (in line with the homepage) in the `react-redesign` branch. This will be the most used part of the app so take time to implement it.
Currently, because the API is not written we are just worki

[2018-10-17 18:44] rahulnpadalkar commented on #238
I am interested in contributing. How can we move forward?

[2018-10-18 07:57] joshghent opened #242 "Create About Page"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Port the existing about page to the react site on `react-redesign`

[2018-10-18 07:57] joshghent commented on #238
@rahulnpadalkar There is already an active PR here, but feel free to create the About page for us here https://github.com/esfiddle/esfiddle/issues/242 👍 We would appreciate your contribution

[2018-10-22 14:15] patelg123 opened #243 "Broken 'Style Guide' link in README page"
#### Type of issue
Bug

#### Description (include any screenshots or debugging information if applicable)
In the 'Contributing' section of the README page, the 'Style Guide' link appears to be broken'

[2018-10-22 18:38] joshghent commented on #243
@patelg123 Thanks for reporting this 👍 If you are able, we would love your contribution! 🎉

[2018-10-22 21:16] patelg123 commented on #243
Hi Josh, yes I would love to get involved. I was going to contact you about
this but been a bit busy at work and my friend’s father passed away on
Saturday so been busy with that.

Once things quieten down I’ll contact you and see if there are any open
issues I can help solve.

On Monday, 22 October 2018, Josh Ghent <notifications@github.com> wrote:

[2018-10-23 11:11] patelg123 opened #244 "Add 'Dynamic Property Names' to 'ES2015 (ES6) Examples' section in 'Select Example' drop down"
#### Type of issue
Idea

#### Description (include any screenshots or debugging information if applicable)
ES6 Dynamic Property Names

Allows the ability to create or add properties with dynamically assigned keys:
--------------------------------------------------------------------------------
let  city= 'leicester_';
let a = {
    [ city + 'population' ]: 500000
};

a[ city + 'county' ] = 'Leices

[2018-10-24 18:52] joshghent commented on #244
Great idea! We will keep the same examples when we rewrite the site so we would happily accept a contribution for this 👍 Thanks for the idea!

[2018-10-27 12:31] Sensational-Code opened #246 "Dark/Light mode switch doesn't update theme dropdown element"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description
If you change to dark mode then back to light mode, the theme will change but the theme dropdown will stay as monokai when it should update to default.

Steps to reproduce:

1. Open main page
2. Switch to dark theme
3. Switch to light theme

![theme not changing](https://user-images.githubusercontent.com/40759683/4

[2018-10-28 22:05] #246 closed

[2018-10-28 22:08] joshghent commented on #246
@Sensational-Code Thank you for both reporting and fixing this issue! Great work

[2018-10-30 04:35] Sensational-Code opened #248 "Switching from Dark to Light mode and refreshing causes bug"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)'
Switching from dark mode back to light mode and refreshing the page causes a bug where one side of the editor is dark and the other side is light.

Steps to reproduce:
1. Open main page
2. Switch to dark mode
3. Switch to light mode
4. Refresh page

[2018-10-30 04:46] Sensational-Code commented on #246
@joshghent No problem, happy to help!

[2018-10-30 10:38] #242 closed

[2018-10-30 10:56] #248 closed

[2018-10-30 10:57] joshghent opened #250 "Add passport js authentication to React site"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Add passportjs authentication to the react site (branch `react-redesign`)
Allow users to login via github, twitter or Google

[2018-11-03 03:07] mallenjr commented on #250
This is my first time making a PR so could you give me some sort of direction on this? I would like to resolve this issue.

[2018-11-04 13:12] joshghent commented on #250
@mallenjr Best thing to do would be look into PassportJS and create a new login page in React. Then investigate if there is a component for Passport logins. Next enable logins with Github. Then add their githubId to their user record under an "identities" object - maybe worth reading some articles on Identity management systems. If this is a bit much to do then we have other work to do on this sit

[2018-11-11 09:52] #238 closed

[2018-11-11 09:52] #237 closed

[2019-08-11 08:27] joshghent opened #252 "New Maintainer"
# We are looking for a new maintainer

### What does this mean?
I do not now have time to properly dedicate to ESFiddle and think it would do much better with someone else taking the helm. I will still be around to contribute but day to day running will be down to you - the new maintainer! I will continue to pay for the server and domain.

### What's the status of the project?
The project as is ge

[2019-08-30 10:41] collinmesser commented on #252
I might be interested in this. Would you mind emailing me at collin@collinmesser.com?

[2019-10-01 23:02] ghost commented on #252
I would also like to help out with this project. It's pretty cool! :)

[2019-10-02 10:09] joshghent commented on #252
Hey @anagabriel42 - thanks for your interest in this. @collinmesser has made a bit of a plan with myself about the direction for ESFiddle already but I've just created a private gitter channel https://gitter.im/esfiddle/admins# so we can discuss things altogether.

It would be amazing to have another hand in helping build ESFiddle and another head full of ideas! I've added you to the GitHub organi

[2019-10-08 22:29] rajmayank commented on #252
Hey @joshghent, I'd be up for the task.
I can help with not only the app itself but the infra as well. Few years ago when I used to work primarily on frontend, esfiddle was a goto. It'd be great to be able to contribute back to it.

[2019-10-12 02:00] collinmesser commented on #252
Hey @rajmayank if you're up for it still I'll add you to the core team. I'm redesigning the site over here [https://github.com/esfiddle/site](https://github.com/esfiddle/site). Feel free to take a look and let me know if you have any questions. I'll add you to the gitter admin channel too.

[2019-10-12 02:03] collinmesser commented on #252
Closing this for the time being. Please take a look at https://github.com/esfiddle/site if you're interested in contributing.

[2019-10-14 13:12] rajmayank commented on #252
Hey @collinmesser, got the invites. Thanks for those.
I'm out right now for a conference. I'll start taking things up with you in a weeks time. In the mean time can you please also add me to Glitter, so that we can communicate over there.

[2020-07-16 01:40] joshghent opened #260 "Port to GitHub Actions"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
* Port the Travis Config to GitHub Actions - have tests run on Node 12
* Have it ship a new Docker image to the Docker Hub
* Configure a new Github release on merge to Master

[2020-07-16 01:42] joshghent opened #261 "Fix Embedded View and Create test case"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
`Refused to display 'https://esfiddle.ghent.cloud/embed/iy4n0nfl/' in a frame because it set 'X-Frame-Options' to 'sameorigin'.`

[2020-07-16 02:13] joshghent commented on #252
Reopening this issue as I'd love for some new maintainers to come help me out! I'm dedicating a bit more time to the project now so it can get back on it's feet.
As I see it, we've got a few pressing prioritized
- Swap to GH Actions and ship docker images (since we moved the hosting)
- Fix the embedded view

Going forward, I'd love to create a brand new homepage with example fiddles, recent (publi

[2020-07-20 14:07] joshghent commented on #260
Fixed in #263

[2020-07-20 14:07] #260 closed, assigned to nobody

[2020-07-20 14:08] joshghent opened #264 "Fix tweet share button"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Sharing a tweet just goes to the twitter homepage - need to fix it so it fills the content of a tweet!

[2020-07-20 14:10] joshghent opened #265 "Fix Github gist export"
#### Type of issue
- [x] Bug
- [ ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Export Fiddles to Gists doesn't appear to be working at the moment. This might be because of the github token used in the migration but it should still work the same (as it's the same token as before)

[2020-07-20 14:13] joshghent opened #266 "New Code Examples! - On going project!"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
One of ESFiddle's great features is the code examples.
With new ECMAScript releases, we get new Javascript features and therefore new example code blocks to show off these new features!
This is a great first contribution for new programmers. Simply pi

[2020-07-20 15:24] Surajv311 commented on #266
@joshghent  Sir,
I have worked on this issue and made a PR. Could you please review it and let me know any shortcomings?

[2020-07-23 10:21] patelg123 commented on #252
Hi Josh, I hope you are well. I would love to get involved with this again. Let me know how I can help.

[2020-07-29 16:21] joshghent commented on #252
@patelg123 Hi mate! Long time no see! There is tonnes to do to make it more mobile friendly. But the main things at the moment are to fix the embedded view of fiddles, bring it up to date so it contains examples of ES2019 code and making the profile page a bit sleeker (maybe more emojis). Have at it!

[2020-07-29 16:22] joshghent opened #269 "Improve mobile view"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Make the pages of the fiddle and profile more mobile friendly

[2020-07-29 16:36] joshghent opened #271 "Create github actions Docker pipeline"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Currently the app is deployed on docker on a digitalocean host I own.
To allow for updating this, please configure a pipeline that builds the docker image on the develop and master and scans it for vulnerabilities. It then needs to ship it to the gith

[2020-07-29 16:40] joshghent opened #272 "Create new homepage"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
This is a big one!
Make a new homepage and move the fiddle page to a `/new` route

The homepage should display "Top Fiddles" (fiddles with the most stars in order) and "Recent Fiddles" (new fiddles sorted by most recently created).
The top fiddles sho

[2020-07-29 16:47] joshghent opened #273 "Improve fiddle site speed - Multiple PR's welcome!"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Currently the page to create fiddles loads quite slowly (especially on mobile).
Make it faster by analysing the Page Speed Insights Score - https://developers.google.com/speed/pagespeed/insights/?url=esfiddle.net&tab=desktop
And looking for optimizati

[2020-07-30 08:56] joshghent opened #276 "Change master branch to main"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Github should do this automatically over time but might as well change it ourselves to be ahead of the curve so to speak.

[2020-07-30 09:05] joshghent opened #277 "Resolve deprecated dependencies (multiple PR's welcome)"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Lots of the dependencies we use have now been deprecated and need updating or removing.
A successful PR for this issue will **resolve at least 1 of these** deprecated dependencies - we will therefore be accepting multiple PR's for this issue.

Please

[2020-07-30 12:03] patelg123 commented on #252
@joshghent is this repository now being used for the site rather than https://github.com/esfiddle/site ?

[2020-07-30 13:17] joshghent commented on #252
@patelg123 Yes, this repo is under active development again. Previously another maintainer went to rewrite the site into Vue and a new API in Express/Typescript. But I'm now just going to give this repo some love and hope other can too! Please see the issues tab for some features and fixes that need working on! There is loads to do so any contributions would be welcome.

[2020-08-02 15:08] jigar1101 commented on #271
Hey, @joshghent Hope you're doing good! Sorry was away from this repository for quite along.

I can take this up if you're not working on it already.
I can see you've already done some setup on Github Actions for docker, let me know is there anything I can contribute or be of help.

[2020-08-03 09:56] joshghent commented on #271
Hi @jigar1101 - great to hear from you again bud! Don't worry nothing has really been going on - I'm starting to pick it up again.
Yes I've already started a bit of work on this but currently it just builds the image and sends it to the docker hub (or should), that needs tearing out and making it so it ships to the GitHub registry, it should also scan for vulnerabilities in the image and not excee

[2020-08-04 05:30] jigar1101 commented on #271
That's great @joshghent
I'll pick up something else then.

[2020-08-04 10:14] joshghent commented on #271
@jigar1101 No you're more than welcome to do this ticket, there is loads to do for it! I just shoved some boilerplate in that doesn't work 😆  PR's would be very welcome on this one!

[2020-08-12 09:08] joshghent opened #278 "Minify Javascript source"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Add a build step when building the docker image or building for production to minify the Javascript source to improve load times on the website. Currently Page speed insights says it takes 250ms for "blocking time" and that we could save 56ms by minif

[2020-08-12 09:08] joshghent opened #279 "Add Lighthouse CI"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Add the lighthouse CI as a test for all new PR's.
We should be aiming for 100 across the board but 90 overall is acceptable.

[2020-08-12 09:09] joshghent opened #280 "Remove unused Javascript"
#### Type of issue
- [ ] Bug
- [x] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
As a build step for bundling for production, remove unused Javascript from all sources. This can be done with Webpacks tree shaking but perhaps something in Grunt as well.
This will save us a lot of time loading on mobile and desktop.

[2020-08-15 14:35] jigar1101 commented on #271
@joshghent What is the value for `github.repository`? Is it `docker.pkg.github.com`?

[2020-08-15 14:39] jigar1101 commented on #271
@joshghent The reason your current dockerfile is failing is because, we need to login using the github token in the github registry before pushing.
Also, the image id would be `IMAGE_ID=${{ secrets.github.repository }}//$IMAGE_NAME`

I believe you would followed this URL - https://www.learncloudnative.com/blog/2020-02-20-github-action-build-push-docker-images/ ?

[2020-08-19 16:32] #271 closed, assigned to jigar1101

[2020-08-20 13:24] patelg123 commented on #278
@joshghent Sorry if I am being thick, but isn't it a case of just adding the following to the uglify section of grunt.initConfig in the Gruntfile.js file?:

'dist/src/es6-fiddle.js': ['dist/src/es6-fiddle.js'],

[2020-08-24 11:26] joshghent commented on #278
@patelg123 Yes could be! Take a look in your browser network tab to see if the source becomes minified for all JS content! Additionally, if you got to google's page speed insights and run it against esfiddle.net then you'll be able to see all the files that aren't minified 👍  Hope that helps :)

[2020-08-28 15:11] patelg123 commented on #278
@joshghent I've raised a pullrequest for this, please can you take a look when you get the chance.

[2020-09-08 09:57] joshghent commented on #278
Resolved by #286

[2020-09-08 09:57] #278 closed, assigned to nobody

[2020-09-27 12:42] #264 closed, assigned to nobody

[2020-09-27 12:42] #265 closed, assigned to nobody

[2020-09-29 07:38] AshifMohammad opened #289 "ES7 -2017 - Async-await best practice example"
#### Type of issue
- [ NA ] Bug
- [ Async-await with `.then` is an anti-pattern for the asynchronous behavior, rather we should make use of `try-catch-finally` pattern along with async- await feature, raising a PR against this Issue ] Idea/Suggestion
- [ ] Question

#### Description (include any screenshots or debugging information if applicable)
Async-await with `.then` is an anti-pattern for the

[2020-09-29 07:39] joshghent commented on #289
Hey there :wave: Thanks for filling an issue. Our maintainers will get looking into it shortly but in the meantime, have a go yourself. You can get setup with ESFiddle locally by following our Contribution guide.' first issue

[2020-09-29 08:06] AshifMohammad commented on #289
@joshghent I  raised a PR against this change or suggestion - https://github.com/esfiddle/esfiddle/pull/290
please take a look?

[2020-10-02 07:25] Muskan0510 commented on #266
Hi, I'd like to work on this!

[2020-10-08 18:06] Patil2099 commented on #277
@joshghent I would love to work on this issue.

[2020-10-11 23:35] #276 closed, assigned to joshghent

[2020-10-11 23:35] #252 closed

[2020-10-14 00:24] joshghent commented on #277
@Patil2099 go for it mate

[2020-12-25 14:27] #261 closed, assigned to nobody

[2020-12-25 14:27] #272 closed, assigned to nobody

[2020-12-25 14:27] #273 closed, assigned to nobody

[2020-12-25 14:27] #269 closed, assigned to nobody

[2020-12-25 14:27] #280 closed, assigned to nobody

[2020-12-25 14:27] #279 closed, assigned to nobody

[2021-07-01 10:17] Pranavtechie opened #301 "esfiddle.net website is not working"
#### Type of issue
- [ ] Bug

#### Description (include any screenshots or debugging information if applicable)
![image](https://user-images.githubusercontent.com/66348494/124108223-a6445880-da83-11eb-8482-2b0307a2d980.png)

[2021-07-01 10:18] joshghent commented on #301
Hey there :wave: Thanks for filling an issue. Our maintainers will get looking into it shortly but in the meantime, have a go yourself. You can get setup with ESFiddle locally by following our Contribution guide.' first issue

[2022-01-09 02:34] #289 closed, assigned to nobody

[2022-01-09 02:34] #266 closed, assigned to nobody

[2022-01-09 02:34] #277 closed, assigned to nobody

[2022-01-09 04:04] Pranavtechie commented on #301
<img width="521" alt="image" src="https://user-images.githubusercontent.com/66348494/148668934-534bb315-f312-4446-b412-a3563ca48d27.png">

I guess you guys have to generate the SSL certficate

[2022-01-11 13:19] joshghent commented on #301
I didn't renew the esfiddle.net domain as I didn't have time to maintain it anymore :)
I still have the old DB etc.

[2022-02-05 13:25] #301 closed, assigned to nobody